[2016-06-28 16:01] dpeter99 opened #1 "UVLightmapJsonTest not loading"
In my dev game there is no UVLightmapJsonTest in mod list and I cannot find your test block

[2016-06-28 17:17] dpeter99 opened #2 "Models"
What else needs Json models? If we want to stick with the original style?

- [x] Inscriber
- [x] Charger
- [x] Drive

[2016-06-28 18:10] Elix-x commented on #2
Considering models, everyhting has to be remodelled. I'll should be able to generate list soon. As to what style, design... IDK really. I'm bad at designing, so it's to be discussed on original issue / new issue on original repo.

[2016-06-28 18:22] dpeter99 commented on #2
OK So, Do cables need Json models or they will be in code?

[2016-06-28 18:26] Elix-x commented on #2
Both. That's a topic for later. I haven't finished tearing current rendering, so i can't yet start working on new things. But i already gave you glowing parts standart (i'm writing already in your other issue, wait a bit).

[2016-06-28 18:37] dpeter99 commented on #2
The Inscriber:
![2016-06-28_20 36 50](https://cloud.githubusercontent.com/assets/7725817/16427968/24c12e56-3d70-11e6-86f6-e43275cfd980.png)
![2016-06-28_20 36 53](https://cloud.githubusercontent.com/assets/7725817/16427969/24deb0de-3d70-11e6-84f3-69a923cdc716.png)
![2016-06-28_20 36 42](https://cloud.githubusercontent.com/assets/7725817/16427970/24e3b07a-3d70-11e6-96c1-f5aa235783ba.png)

[2016-06-28 18:40] Elix-x commented on #1
I'm not used to intellij, so i DID say it wrong. Here's how to set up Intellij IDEA workspace: http://www.minecraftforge.net/forum/index.php/topic,21354.0.html

Conclusion: if you have problems with IDEA, google is your best friend.

[2016-06-28 18:44] dpeter99 commented on #1
OK
But I think I just missing the VM options mine is just
`-Dfml.coreMods.load=appeng.transformer.AppEngCore`

[2016-06-28 18:47] Elix-x commented on #1
Clean your workspace (`gradlew clean`) and resetup following tutorial i pointed you to. This might help

[2016-06-28 19:45] elix-x opened #3 "@JosephRymer - Wait before doing something with code"
@JosephRymer - Wait before doing something with code. I want first to discuss what we are going to do. Because if one does without other wanting it, we will end up rewriting each other's code.

You can do something with models meanwhile, unless @dpeter99 tells you not to.

[2016-06-28 21:26] StrayCargo commented on #3
ok
well ill wiat got a few business things to attend to

[2016-06-28 21:50] JosephRymer opened #4 "Setting up Slack and other conversations"
So @dpeter99 told me that he had made a slack for our team
Might I suggest that we join @elix-x and then use it for the future development of AE2
my email is josephrymer983@gmail.com

[2016-06-28 23:13] StrayCargo commented on #3
ok so  looking at models now

[2016-06-28 23:13] #3 closed

[2016-06-28 23:23] JosephRymer opened #5 "decompileMc fail"
I keep trying to run the decompworskapce command and its failing on decompileMc. I have left a git gist below

[2016-06-28 23:23] Dhvagra commented on #1
I think that's an old version @elix-x, if you want to setup a forge workspace in IntelliJ, you can best follow [cpw's](https://www.youtube.com/user/djsmeguk) tutorials.

[2016-06-28 23:24] StrayCargo commented on #5
Issue resoloved on account of bug with gradlew

[2016-06-28 23:24] #5 closed

[2016-06-29 05:47] StrayCargo commented on #1
Im currnelty working on models for port to 1.10 i totally forgot to ask where yall started so i guess it wouldent hurt to ask now

[2016-06-29 06:27] dpeter99 commented on #2
Charger:
![2016-06-28_20 40 38](https://cloud.githubusercontent.com/assets/7725817/16442439/d7942274-3dd2-11e6-9ba8-c352d038bb28.png)
![2016-06-28_20 40 48](https://cloud.githubusercontent.com/assets/7725817/16442440/d7ae3eac-3dd2-11e6-975f-409a172ba643.png)
![2016-06-28_20 40 52](https://cloud.githubusercontent.com/assets/7725817/16442441/d7b3a856-3dd2-11e6-97b3-a177ec3a5ebd.png)

[2016-06-29 06:56] Elix-x commented on #2
That's not bad actually. Well done! In a few hours i should have full list of items and blocks to be modelled.

[2016-06-29 11:50] dpeter99 opened #6 "ExtraBlockTextures missing"
In:

- `MatterCannonFX`
- `EnergyFx`
- `CraftingFx`

For Example:

Error:(55, 63) java: package ExtraBlockTextures does not exist

[2016-06-29 11:55] Elix-x commented on #6
Yeah i know. Do you see these `//TODO 1.10-R`?

[2016-06-29 12:07] dpeter99 commented on #6
But it sad:

[2016-06-29 12:22] Elix-x commented on #6
Wut? Where? Oh yes, in commit message. When i speak of some parts left over, i speak of unused methods just sitting around here and there.

But, you CAN test with these issues (i can with eclipse, so you should be to with IDEA): allow it to launch with compile issues and, in game, disable particles.

[2016-06-29 13:05] #6 closed

[2016-06-29 13:38] #1 closed

[2016-06-29 13:56] dpeter99 opened #8 "AE Model loading"
![2016-06-29_15 50 21](https://cloud.githubusercontent.com/assets/7725817/16454575/94aee64e-3e11-11e6-9517-87d9c4d45314.png)

So my models work in the new Test build as well. :smile:
But no models in AE, but this has its model already

![2016-06-29_15 55 39](https://cloud.githubusercontent.com/assets/7725817/16454675/f120967a-3e11-11e6-9707-4281ec6042f9.png)

[2016-06-29 14:02] Elix-x commented on #8
A few moments please. Models specific issue with instructions in works.

[2016-06-29 14:30] elix-x opened #9 "JSON models to do"
List of all json models to do.

@dpeter99 names are names of things in code, for registry names (model paths) use F3+H in game. When model is complete and approved, attach screenshot below it and mark it off. Note: some item models are already created, but they may have invalid rotations / textures. Check them.
_Multipart related models may have gotten in lists. Don't do them._
@yueh you're respon

[2016-06-29 15:06] dpeter99 commented on #9
Most of these are just normal items. Do those need custom models as well?

[2016-06-29 15:28] Elix-x commented on #9
In most cases, no. But some may (like matter cannon?).
You have @yueh for that.

[2016-06-29 15:32] dpeter99 commented on #8
@elix-x  I tried a vanilla model (so the model formatting is ok) and:
![2016-06-29_17 31 21](https://cloud.githubusercontent.com/assets/7725817/16458421/4f64e76a-3e1f-11e6-8bb5-0876ba36e841.png)

[2016-06-29 15:48] Elix-x commented on #8
Are you sure you put it in correct place and named correctly?

[2016-06-29 15:56] dpeter99 commented on #8
Yes:
Location:
(In resourcepack for now so I don't mess with the originals but it is loaded)
`Applied-Energistics-2\run\resourcepacks\AE-Resource-Pack\assets\appliedenergistics2\models\item`

File:

`ItemViewCell.json`

`{
    "parent": "item/generated",
    "textures": {
        "layer0": "minecraft:items/apple"
    }
}`

[2016-06-29 16:56] dpeter99 commented on #8
@elix-x  I tested this as a minecraft apple:

`{
    "parent": "item/generated",
    "textures": {
        "layer0": "appliedenergistics2:items/ItemBasicStorageCell.1k"
    }
}`

It worked but not as a ItemViewCell

[2016-06-29 16:58] Elix-x commented on #8
_(Me: -Ok, how it does not work. Let me check... 30 minutes later... -Seriously? I did not do this? I'm such a derp. Uhmmm... I need to find a reason why i didn't do this... Uhmmm... Saying that it's part of new rendering system and that it haven't been implemented yet should work... I hope...)_

This is a part of new rendering system and haven't been implemented yet.

[2016-06-29 16:58] #8 closed

[2016-06-29 17:01] Elix-x commented on #2
Followed by #9.

[2016-06-29 17:01] #2 closed

[2016-06-29 17:05] dpeter99 commented on #8
THX. :laughing:

[2016-06-29 17:14] Elix-x commented on #8
You're welcome.

[2016-06-29 18:35] dpeter99 commented on #9
@elix-x  @JosephRymer

![2016-06-29_20 33 38](https://cloud.githubusercontent.com/assets/7725817/16464088/e97d3b0e-3e38-11e6-891c-5e216fb54f19.png)
![2016-06-29_20 33 41](https://cloud.githubusercontent.com/assets/7725817/16464091/e97fccde-3e38-11e6-8d24-64a099c1221a.png)
![2016-06-29_20 33 44](https://cloud.githubusercontent.com/assets/7725817/16464089/e97d4c3e-3e38-11e6-8e18-4b970d3cb2ad.png)
![

[2016-06-29 18:38] dpeter99 opened #10 "Model code changes"
So @elix-x , what do I need to do to make:
- Inscriber
- Charger
- SkyChests

to work?

[2016-06-29 18:40] Elix-x commented on #10
Thos are animated ones, right?

[2016-06-29 18:44] dpeter99 commented on #10
Right
The pressing anim of the Inscriber
The charger and the inscriber shows whats is inside
And the chest yeah, the normal mc anim

[2016-06-29 18:47] Elix-x commented on #10
Leave chest to me or @JosephRymer. It's handled internally.
Charger shows what's inside, but does it have animation? If no, make model as you would to any block. I or @JosephRymer will take care of item displayed.
As for press - there will have to be work done on both sides. Let's leave it for later.

[2016-06-29 18:51] Elix-x commented on #9
@dpeter99 Edited links in OP for you. Actually, can you edit OP?

[2016-06-29 18:56] dpeter99 commented on #10
OK. @JosephRymer
And a few other questions:
What about tiles like `tile.BlockCrank` or `tile.BlockGrinder`

Could you describe me how the QuartzGlass texture should be set up?

[2016-06-29 19:06] dpeter99 commented on #9
Yes I can

[2016-06-29 19:10] dpeter99 opened #11 "Rendering Bug"
I can not describe it but I will try:
Occasionally there are lines in the world. Straight connected lines, but they disappear instantly.
Reproduction: just wait a few minutes.
Please confirm the successful reproduction.

[2016-06-29 19:12] Elix-x commented on #10
Similar to glass.
Everything animated will be done when static models are finished.

[2016-06-29 19:13] Elix-x commented on #11
I..... Don't even know what to say. Haven't experienced...

[2016-06-29 19:15] dpeter99 commented on #11
Successful reproduction?
Yeah it is strange

[2016-06-29 19:24] Elix-x commented on #11
Nope.

[2016-06-29 19:44] Elix-x commented on #9
Then whenever you complete something and post image, copy image's url and hyperlink it in the list.

[2016-06-29 19:48] dpeter99 commented on #10
OK
For most of the machines Drive, ME Chest, etc. there is no facing information in/for the blockstates file, so I can't rotate them.
`{
    "variants": {
        "facing=north": { "model": "appliedenergistics2:tile.BlockDrive", "y": 180 },
        "facing=south": { "model": "appliedenergistics2:tile.BlockDrive", "y": 0 },
        "facing=west":  { "model": "appliedenergistics2:tile.BlockDrive", "

[2016-06-29 19:55] Elix-x commented on #10
Somebody should check blockstates passed to models.
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||Poking @JosephRymer - 50%...........................................................

[2016-06-29 19:58] 61352151511 commented on #10
If it's not too difficult I think that models that render items in it should have a .info file attached to them. That way if someone creates a custom model and wants it rendered on top the info file could handle that. It would just contain information on the translations of the item rendering.

[2016-06-29 20:12] dpeter99 commented on #10
I'm using vanilla blocksates now, I can switch to forge if nesesery but expect the Drives I don't see the need.
And I think it would be grater if a specially named cuboid inside the actual model would hold the rendered image if possible

[2016-06-29 21:09] JosephRymer commented on #10
im sorry at work

[2016-06-29 21:21] StrayCargo commented on #10
Just got home so whats going on exactly we need some models for stuff im reading it right

[2016-06-29 21:28] #4 closed

[2016-06-29 23:09] StrayCargo commented on #10
@dpeter99 working on getting environment going again then i will look at the models some sort of flower bug bring it on

[2016-06-30 04:53] JosephRymer opened #12 "Decomompile Fail"
I ran the decompile for the fork of AE2 and for some odd reason it didnt decompile

[2016-06-30 05:04] StrayCargo commented on #12
FernFlower Error issue fixed

[2016-06-30 05:04] #12 closed

[2016-06-30 05:53] StrayCargo commented on #10
@dpeter99 the issue with the animation bug for the sky stone chest is a simple edit to the json file follow this brief instruction and that should fix it i would but currently waiting for someone to share me their environment since mine is bugged and cant seem  to get it going again instructions are below

`builtin/entity` Uses the hardcoded TileEntityRenderer. Used by Chest, Enderchest, Skull and

[2016-06-30 07:24] Elix-x commented on #10
@JosephRymer i will do the chest and item in charger, it's done with TESR. You can work on animations for presser (and other things) with @dpeter99, as work is required on both sides (model with animations + TESR for items + block render update for begining of animation + extended block states).
Also, is your environment still buggy? Which IDE are you using? Which gradle commands did you run?

I g

[2016-06-30 09:07] yueh commented on #9
By the way I hope the normal full blocks are reusing the already existing model for them and just change the texture. Not something spit out from a generator with an ridiculous amount of overhead.

I am currently not sure about the certus ore. The charged on emits particles and has some other changes. Maybe a custom lightmap. But I currently cannot remember it exactly.

In terms of items, it is pr

[2016-06-30 09:13] Elix-x commented on #9
@yueh Ok, no 3D for cannons. I'm currently refactoring old items jsons (translations & parents are off).
Particles for charged certus ore - nothing to do with model. Lightmap - ???
As for full normal blocks, @dpeter99.

@dpeter99 could you commit current models? Or if you're working on next ones, when you finish them?

[2016-06-30 09:16] yueh commented on #10
Forge has a animation system for their custom json format. Be sure to use it, when possible instead of inventing our version and waste time for it.

Regarding the rotation, we have 24 (36 actually, but 12 are unusable) different rotations. Bloating every blockstate json with it might not be a wise decision. If that can be even achieved with them. Iirc there is a limit of 16 states per block for th

[2016-06-30 09:19] Elix-x commented on #10
Sure, we will use forge's system.

Starting from 1.9, we have `getExtendedBlockState` and using it we can pass pretty much anything from TE to json.

[2016-06-30 10:03] yueh commented on #8
Just to hop in about the cell model.

It is a pretty good example of redesigning something without a need or making it actually better is not always the best idea. (Not in terms of the style, but how it visualizes different things).

First, is there any reason to now have 2 indicators on the front? Do they fullfil any functionality or are there only for looks? If one of them does not visualize any

[2016-06-30 10:15] Elix-x commented on #8
I can make so that different models are used for cells as items and cells in drives.

[2016-06-30 10:33] dpeter99 opened #13 "Cell Model changes"
@yueh
OK I'm back (from the doctors).
So for the Cell I was thinking about the indication as well
![aecell](https://cloud.githubusercontent.com/assets/7725817/16485280/63cb3c6e-3ebe-11e6-8883-468872e16917.png)

And the on/off would blink if on.

[2016-06-30 10:35] Elix-x commented on #13
We're speaking about in drive bay model, right?

[2016-06-30 10:38] dpeter99 commented on #13
I think it would be nice if i can see the fullness of the drive in inventory as well.
But then I don't know how to rotate it, so you can see that part as well.

[2016-06-30 10:38] dpeter99 commented on #9
@yueh
 What do you mean under:

[2016-06-30 10:49] yueh commented on #9
There are already models for fullblocks in minecraft, which you can just use as parent model and just define a different texture. It like 2 lines of json and done.

Something along the line of

[code]

There are even models for different texture per side. Reading one of the many tutorials about is certainly easier. And that is one of the few cases, where some documentation actually exists.

[2016-06-30 10:53] dpeter99 commented on #9
Oh ok. I'm using them already.

[2016-06-30 11:15] yueh commented on #13
Why split it into different "leds"? Is there any advantage over using a single multi coloured one?

For example `type full`/`full` already indicating `on`. Why waste space to indicate it multiple times?
Further why split `type full` and `full`? Does it provide any advantage, when a player can immediately see that drive is full in both cases? Or is it enough to just report `full` regardless of what

[2016-06-30 11:21] dpeter99 commented on #13
Ok then no blinking. the spliting of the colors to three places i think could be good for colorblind people.
But then could we add a led to the drive to indicate if it is on/off? (if there are no cells in the bay).

[2016-06-30 11:43] dpeter99 commented on #10
@elix-x @JosephRymer
So whats up with the facing information?

[2016-06-30 11:46] Elix-x commented on #10
In AE, facing isn't like a facing... In short, i'm making example json for one block.

[2016-06-30 12:38] yueh commented on #13
Splitting still has the issue of mirroring to it. So the left led can either be power or fullness. And both still use red/green. Some people might notice that the leds are on the top or bottom of the cell. But from a distance, that is no longer that obvious. So it would really be an improvement for colourblind people, or at least not a meaningful one. While forcing everyone to think about "Was the

[2016-06-30 13:53] Elix-x commented on #10
Ok, now rotations are being passed to models. Because AE blocks can be rotated on all axis, you have `forward` and `up` properties which define which directions that are forward and up of block. These properties exist for all blocks with tile entities.
Dummy grinder model included.

[2016-06-30 14:01] dpeter99 commented on #10
OK @elix-x  now most off my blockstaes are broken (the ones with tile.).
They don't show up.

[2016-06-30 14:02] Elix-x opened #14 "Code Changes"
This is issue for all changes that have to be done in code. Mainly, by me or @JosephRymer.

In code, we now have `//TODO 1.10-R` tags which mean that whatever has to be done there, appeared during this port. When thing is done, remove the tag.
@JosephRymer this basically allows us to communicate in code what to do, if we, for example, didn't finish it. You can also leave those (and i will do them

[2016-06-30 14:04] Elix-x commented on #9
@dpeter99 marked off all the items fixed in https://github.com/AEModernMCPort/Applied-Energistics-2/commit/0be0635a8f6f51b12d78a8ad9511f0fe3465f94a. May have missed some.

[2016-06-30 14:06] Elix-x commented on #10
Yeah... Now you need to specify 24 ( 6x6-2x6 ) rotation combinations in block states... Plus other things...

[2016-06-30 14:09] dpeter99 commented on #10
@elix-x  Really? There is no way for it to say that "I don't care about those fields" ?
Like this ?
`{
  "variants": {
    "normal": { "model": "appliedenergistics2:tile.BlockCellWorkBench" }
  }
}`

[2016-06-30 14:20] Elix-x commented on #10
I don't think so...
@dpeter99, @yueh Please give me list of blocks that don't care about rotations. In code, all of them seem to.

[2016-06-30 14:22] dpeter99 commented on #10
- CreativeEnergyCell
- DenseEnergyCell
- EnergyCell
- tile.BlockCellWorkBench
- tile.BlockCondenser
- tile.BlockEnergyAcceptor
- tile.BlockIOPort
- tile.BlockSecurity
- tile.BlockSpatialIOPort
- Molecular Assembler
- Crafting Storagges
- Spatial Pylon

these so far @elix-x

And what does `up` mean

[2016-06-30 14:43] Elix-x commented on #10
`up` is up direction of block... I'll try to visualize it.

[2016-06-30 15:49] Elix-x commented on #10
Like this:
![2 axial rotation!!!](http://i.imgur.com/mryyS4M.gif)

[2016-06-30 15:51] dpeter99 commented on #10
Got it but where do we need things like this?
(What program did you used?)

[2016-06-30 15:54] Elix-x commented on #10
For visualization, i used blender.
Why the heck do we need thing like this? @yueh why? Couldn't it be done with x-rot y-rot rather then with forward-dir up-dir?

[2016-06-30 18:31] dpeter99 commented on #10
I can't see how to change the up-dir. and other than maybe multipart I can't see a usage for it.
@elix-x @yueh

[2016-06-30 18:51] Elix-x commented on #10
In block state file, you can rotate model around x, y and z (take a look at end rod).

Facing up frive bay, yes. But facing up drive bay with shelves rotated on x or z... Not quite.

[2016-06-30 19:04] dpeter99 commented on #10
@elix-x  With:

I meant in game.

[2016-06-30 19:11] Elix-x commented on #10
Wrench.

[2016-06-30 19:12] dpeter99 commented on #10
Oh ok @elix-x  But would you ewer rotate a grinder that way?

[2016-06-30 19:26] JosephRymer opened #15 "Issues with Environment or IDE or Modding Questions for All members"
I am currently running intellij and its claiming that its not recognizing the forge version and requires 12.18.2000 any ideas

[2016-06-30 19:37] Elix-x commented on #15
First, run `gradlew clean setupDecompWorkspace`. Then google how to set up mc forge with idea (i'm using eclipse, so sorry, but i can't help you with that).

BTW, @dpeter99 also uses idea. Ask him what he did to set everything up.

[2016-06-30 20:50] dpeter99 commented on #15
From cmd:
`gradlew clean`

follow [cpw's](https://www.youtube.com/user/djsmeguk) tutorials.

[2016-06-30 21:01] StrayCargo commented on #15
the only problem i got now is this appliedenergistics2 (Applied Energistics 2) requires mod versions [Forge@[12.18.0.2000,)] to be available
[01:51:54] [Client thread/ERROR] [FML/]: net.minecraftforge.fml.common.MissingModsException: Mod appliedenergistics2 (Applied Energistics 2) requires [Forge@[12.18.0.2000,)]

[1:54]
have changed the gralde.properties to accept 1.10.2 mc version and forge mc v

[2016-06-30 23:40] StrayCargo commented on #14
alright nice to know

[2016-07-01 04:05] StrayCargo commented on #15
well i got past that error but now i get this error
http://imgur.com/LLeTrPJ

[2016-07-01 04:21] StrayCargo commented on #15
issue closed currently working

[2016-07-01 04:33] StrayCargo commented on #11
I never encountered the issue either

[2016-07-01 04:40] StrayCargo commented on #9
ok so i recognized that the TODO isn't quite updated ill try to update it tonight but if i dont get to it @dpeter99 or @yueh can you update it with the current build on the site thanks

[2016-07-01 06:45] Elix-x commented on #9
@JosephRymer updated in which way? I did not add multipart blocks here as those will be done and discussed later.

@dpeter99 unmarked all cells, as those are going to get new model (from you) (or not).

[2016-07-01 08:07] dpeter99 commented on #10
@elix-x What states does `up` have?

[2016-07-01 08:17] yueh commented on #9
Keep in mind that energy cells can be used in free form multiblocks. So they need to look good in any combination. Not just a single energy cell. Like they could be used in a line/pillar, 2D shapes like T or L, 3D shapes like a cube/cuboid, just the corners of a cuboid, fill the spaces inside a controller etc.

Also the whole block indicates the level through its texture. This might not be perfect

[2016-07-01 08:19] Elix-x commented on #10
Wait a bit. I may refactor rotations to be x, y instead.

[2016-07-01 08:21] Elix-x commented on #9
But in 1.7.10, they didn't have special connected textures? Or did they? I know pylons had.

[2016-07-01 08:26] yueh commented on #10
No idea why it uses front/up. It did previously use `ForgeDirection`, so potentially the helper methods were better to rotate it.

If up actually uses cardinal direction, it should also be way easier to debug it. Pretty much anyone should understand that, if the state says "front=up,top=west" that the front should point to the top and the top side west. Or any other combination. And it is easy to

[2016-07-01 08:28] yueh commented on #9
Only pylons and only for valid combinations. So only straight lines.

If in doubt, the 1.7.10 version still exists and runs. :wink:

[2016-07-01 08:29] Elix-x commented on #10
Not full blown matrix... We only need rotations on X (-90<<90) and Y (-180<<180) and they will do all the trick. Then we can even rotate around Z, and it can still be converted to X, Y.

[2016-07-01 08:36] Elix-x commented on #9
So can we implement pylons as logs?

[2016-07-01 09:00] yueh commented on #10
Not sure, if would be an improvement. We already have to convert between `EnumFacing` and our custom `AEDirection` because the vanilla one is lacking for our use case. Introducing a new rotation class/enum just for rendering would add more room for errors. Like the interaction with a wrench would report an `EnumFacing`, it needs to be converted to an `AEDirection` to lookup the correct part, then

[2016-07-01 09:06] Elix-x commented on #10
What exactly `AEDirection` has that `EnumFacing` does not?

[2016-07-01 09:08] yueh commented on #9
Not really. The default state for invalid pylon uses a `cube_all`, Logs would only work for the non corner blocks, these behave the same. But the corner ones have different side and top/bottom textures. Additionally it also indicates error states about the whole SCS with different textures.

[2016-07-01 09:13] yueh commented on #10
`AEDirection` is probably the wrong name for it, something like `PartLocation` might fit better. But whatever.

We need all 6 `EnumFacing` sides as well as a center. `ForgeDirection` had an `UNKNOWN` we could abuse, but that is gone.

[2016-07-01 09:30] Elix-x commented on #9
Error states are not a problem.
Pylons being corner block is also first time hearing this but it is not a big problem either.

[2016-07-01 09:31] Elix-x commented on #10
So technically, `AEDirection` can be replaced with `EnumFacing` in all blocks except mutiparts?

[2016-07-01 09:34] yueh commented on #9
Yes, it should not be that might of a problem. Just a couple of different properties (rotation, corner, valid, error). Just not reuse the logs model. The rotation is also not decided on block placement but by a valid pylon structure.

[2016-07-01 09:47] yueh commented on #10
Ah it is even named `AEPartLocation`, no idea why it had `AEDirection` in mind. Maybe it was the name as we discussed it. In most cases we should already use `EnumFacing` for most things excapt part handling.

Lex stupid recommendation was to "just use null". Which plain stupid. The code would constantly look like

[code]

This would also be common. But it is not easy to determine, if `foobar(null

[2016-07-01 09:51] Elix-x commented on #10
Use null for valid value? Sorry, what?
Yeah, that's not ideal at all. In best case, `AEPartLocation` should have all valid locations + unknown (in case it actually is unknown, but should work) + null (for buggggs).

[2016-07-01 10:14] yueh commented on #10
Yes, null as a valid value. There was a discussion about patching `EnumFacing` to contain `UNKNOWN`. Which is stupid because the enum has a different semantic as the old `ForgeDirection` and what results/bugs it would introduce to minecraft. Or at least keep `ForgeDirection` for its different semantic.
Lex response was basically "just use null". Which more or less means "I do not care about you ha

[2016-07-01 10:17] Elix-x commented on #10
Null can be a valid value. I meant in a way to that it replaces something meaningful, like `UNKNOWN`, it's not the best idea.

[2016-07-01 10:41] yueh commented on #10
Yeah. it is a valid value for "absent", but not something ambiguous. Like some mods using it for `UNKNOWN/CENTER` or a wildcard for anything, or the next just throws an exception.

[2016-07-01 11:43] dpeter99 commented on #10
So @elix-x @yueh the conclusion is?
Just because I would like to make those models but as most of them (which were already made) are now broken (he tile ones) and I don't really see the need to rotate a IO port in these ways.

[2016-07-01 11:46] Elix-x commented on #10
I'm currently refactoring tiles that don't need to be rotated to not be.

[2016-07-01 11:50] yueh commented on #10
Pretty much every tile needs to be rotatable around all axis. If you can currently rotate it, it needs to stay that way.

[2016-07-01 12:20] Elix-x commented on #10
Why? For example energy cells? They are the same on all sides.

[2016-07-01 12:36] yueh commented on #10
Why not? Even if the only use case currently is a texture pack adding a different texture. E.g which is not mirrored on both axis, but say allows a diamond pattern to form on a 2x2 cube of cells.

Why limit the creativity of them, when it pretty much requires no effort on our side? You do not have to use the blockstates inside the default json. Just ignore them and pretend they do not exist.

[2016-07-01 12:44] Elix-x commented on #10
There's a one problem though: if we want for resource packs to be able to do things depending on something (like 2*2 cube of cells), we have to explicitly pass that data from TE. Eventually, we can't give jsons everything, so there will always be things that resource packs won't be able to do.

Also, question was: why blocks that have no point of being rotated should be? For example ones listed by

[2016-07-01 12:59] yueh commented on #10
Not in terms of multiblocks or connected textures.

Just say every tile entity has a rotation available and here is an example for the states, if you want to use it fine. If not also fine.
Way easier then say "ok, some tile entites can be rotated, some not. Here is an outdated list, which might contain a complete list of them. Or not".

E.g. a texture pack might just change the texture to a simple

[2016-07-01 13:20] Elix-x commented on #10
Ok. Got it.
Next question: specific reason why rotation was implemented in forward-facing,up-facing way instead of x-rotation,y-rotation? I see reasons to implement it rotation way, but not the facing way.

[2016-07-01 13:27] yueh commented on #10
How would a x,y-rotation look like? Rotate 90 degree around x and -180 on y?

[2016-07-01 13:44] Elix-x commented on #10
Kinda. Instead of having 2 `EnumFacing`'s, we have `int`s: rotation around axes (either in full degree form or to-be-mutiplied-by-90).

[2016-07-01 14:50] Elix-x commented on #10
I just checked... You can't ignore block states unless you write custom state mapper... Which will have to load ignored properties from somewhere, if we want them to be configurable.

[2016-07-01 15:08] yueh commented on #10
It should not really save space. Enums are still ints internally.

We also need it to rotate the whole TE not just the rendering. Thus the enums are still the sane solution for serverside. Otherwise we have to constantly map between both.

Iirc the renderer actually uses a rotation matrix and maps the enums accordingly.

Otherwise the enums are mostly to serialise them.

And as said it is easier t

[2016-07-01 16:05] Elix-x commented on #10
Maybe, but then when we want to rotate on an axis, we have to convert to rotations, rotate and then convert back. With 1.10, rotation and mirror methods were introduced, so if we want to be compatible with vanilla, we have to implement them. So it's now just a question of how to better store this (rotations or facings).
And yes, by asking about why it was implemented in facings, i did ask about wh

[2016-07-01 16:48] Elix-x commented on #10
Another question is concerning information do we pass to jsons. Sure, we can pass rotations... And network state... And precise charge... And if the block on top is the same... And id+state of block located on [x=159,y=21,z=-1149] in case if somebody wants to make cell blend with block located on [x=159,y=21,z=-1149]... And we can also pass ([count of ender crystals in the end]+[level of fortune o

[2016-07-01 19:00] yueh commented on #10
Not ignoring a single property. Simply ignoring everyone by not having variants. Or do the variants need to be exhaustive?

Also what about the forge blockstates?  They should allow something like

[code]

**Regarding the rotation.**
There is absolutely not difference between storing the rotation as int or Enum. It will still be mapped through some way to the real rotation used by the model.
It is

[2016-07-01 19:09] StrayCargo commented on #9
ok just so i can understand what im dong do y'all mind if i work on some of the models or do you want to leave that for @dpeter99 or @yueh and have a different thing for me to do

[2016-07-01 19:14] Elix-x commented on #10
Ok. I'm leaving it as it is.

So if somebody comes and asks us to include to cell properties whether block to the side is also a cell, we "gently" tell him "no"?

They were shine of sunrise for the modders... In times of 1.8. 1.9 introduced similar system, in some ways even better.

It ignores properties by name, and may ignore multiple. These files also can go with resource packs.
Is it useful? D

[2016-07-01 19:19] Elix-x commented on #9
You can work on some internal rendering:
- Check `//TODO 1.10-R`s, there are still some left.
- Check that all blocks pass all the information needed from TE to model (info passed via `getActualState`, example of passing rotations can be found in `AEBaseTileBlock`).
- If you did all that, you may work on models requiring work in code and in jsons with @dpeter99. These are sky stone chest (TESR), a

[2016-07-01 19:22] yueh commented on #10
I remember reading something about conditional states, but never really researched, if the actually added it.

One of the reasons I recommend to dynamically bake the models at runtime for rotations is exactly that. Energy cells are still simple. But drives have about 1200 permutations. Dynamically baked models would at least reduce it to about 50.

[2016-07-01 19:22] JosephRymer commented on #9
I don't see anything in the TODO list in intellij where are you talking about TODO list like the one for this issue ticket

[2016-07-01 19:23] StrayCargo commented on #9
appliedenergistics.slack.com join us

[2016-07-01 19:24] #13 closed

[2016-07-01 19:27] dpeter99 opened #16 "Model loading"
Until now I used a resource pack in `run` but now I tried to move the files.
I backed up all the files and deleted them from the `\src\main\resources\assets\appliedenergistics2\` (only textures, models and blockstates) and replaced it the ones from the pack.
Ad thy don't show up

[2016-07-01 19:35] dpeter99 commented on #16
OK. It just needed a restart.

[2016-07-01 19:35] #16 closed

[2016-07-01 19:37] Elix-x commented on #10
Only if... Yeah, that would be useful... It would also be if we could use variables from blockstate (groovy-ish like). Kinda `"normal": {"model": "model", "y": "${yRotation}}`. That would be extremely helpful. But fry never did it. And, writing block state loader like that... Hmm, isn't too hard actually. Only time will required.

I totally agree with you, models that NEED to be baked dynamically,

[2016-07-01 19:38] Elix-x commented on #9
Me not haz slack :cry: ...

[2016-07-01 19:39] StrayCargo commented on #9
you can use the web Client

[2016-07-01 19:39] Elix-x commented on #9
Sure, i will join you... When i will register, etc.

[2016-07-01 19:39] StrayCargo commented on #9
also its been a while since i have done in depth modding so either if  you guys could give me a quick voice to voice crash course on modding or i can just dust up on some tutorials for modding that would be great

[2016-07-01 19:40] StrayCargo commented on #9
my email is josephrymer983@gmail.com

[2016-07-01 19:40] StrayCargo commented on #9
google hangouts has a great option system for presentations

[2016-07-01 19:46] Elix-x commented on #9
I can't quite help you right now (nor probably during weekend), so try to look at some tutorials. You won't need something advanced like reflection, but you will certainly need knowldge of basics (blocks, items, basic models...). Then whever you decide to do something, just look it up, there are plenty of tutorials out there for most things. If there are none though, leave me a todo there or drop

[2016-07-01 19:50] StrayCargo commented on #9
true I will do that also i will be trying to work on the models as well so that we can get most of them  finished up for 1.10 then work on advanced rendering for things like inscribers or leave that for you or @yueh to look at

https://github.com/AEModernMCPort/Applied-Energistics-2/issues/15

[2016-07-01 19:50] yueh commented on #10
Would it really be that complicated to apply a dynamically baked rotation for every model?
So we can simply say for resource packs, just make your model, we handle the rotational stuff.
The models could also only be baked when needed (LoadingCache whatever), should we want to save some memory.

[2016-07-01 20:00] Elix-x commented on #9
@yueh is here for design checks. At least, that's why we brought him here.

[2016-07-01 20:01] dpeter99 commented on #11
Now I filmed it. (At the end of the video)
https://youtu.be/bwMOS9HFEgs

[2016-07-01 20:02] Elix-x commented on #10
Yes... And no... That's a question of how resource packs will want to handle rotations. Maybe they want to flip them? Or rotate on z instead of y?

[2016-07-01 20:06] Elix-x commented on #11
That's like really weird... Check your graphics settings, flip some VBOs, Vsync on and off.

[2016-07-01 20:15] yueh commented on #10
We already handle flipping them or rotate on z instead of y. There current system can handle every possible rotation of a 3D block when using 90 degree angles. (Except having multiple permutations per for the same result)

The only thing which will not be possible, is that they cannot change it to rotate counterclockwise instead of clockwise. Or some other random rotation, which does not match the

[2016-07-01 20:18] StrayCargo commented on #9
alright well ill be working on models let me know if you need anything

[2016-07-01 20:22] dpeter99 commented on #11
Doesn't help

[2016-07-01 21:14] dpeter99 opened #17 "Blockstates ignoring rotation"
https://bugs.mojang.com/browse/MC-70636

[2016-07-01 21:36] StrayCargo commented on #11
i dont see the lines i see the red blue green debugging tool

[2016-07-02 07:02] Elix-x commented on #10
You totaly can, with resource pack, implement all rotations.
Rotating models in code means we have to cache models somehow for performance, and copy-pasta part of vanilla code to ignore non-rotational properties... is that really THAT needed?

[2016-07-02 07:05] Elix-x commented on #17
Huh? Let me try that.

[2016-07-02 08:55] yueh commented on #10
Potentially yes. Pretty much all network tile entites will need about 1632 different states as baseline and on top the additional states for a specific TE. A few could get away with 812 states, but that does not make it easier. Just handling the rotations dynamically, would at least reduce it to 68/34.

But the best option would still be using forge blockstates to reduce it further.

[2016-07-02 09:00] elix-x commented on #10
Ok, then it will be rotated in

[2016-07-02 09:02] Elix-x commented on #10
Why 1632? 24 rotations \*  3 off/on/online = 72?

Forge blockstates won't help us there. And as i said, now vanilla models loader is better in some ways.

[2016-07-02 09:06] StrayCargo commented on #15
Will be sending a pull request tomorrow hopefully with some more updated models

[2016-07-02 09:13] yueh commented on #10
24 rotations \* 2 active \* 2 channel \* 17 colours (not currently but on the list and it just requires a way to color them. Internally it already works).

You could argue that `!powered & channel` is an useless state for rendering, but internally it does exists and is needed.

[2016-07-02 09:22] Elix-x commented on #10
24*2*2*17=1632
colors -> `IBlockColor`
24*2*2->96
powered+channel-> `EnumState { OFF, POWERED, ONLINE }`
24*3 -> 72

[2016-07-02 10:04] yueh commented on #10
We are not talking about a colour multipler applied to the texture. It will only colour a specific area of the model.

On cables it only colours the cable and panels, but not buses, facades or whatever.
On chests or crafting monitors it only colours the screen, nothing else.
Other blocks like drives are currently not supporting it. But if they would only colour the case, not the drives. Or maybe j

[2016-07-02 10:11] Elix-x commented on #10
In model, you specify `tintIndex` per face (same way you can specify uvl map with uvl loader). Then this index is given to `IBlockColor` implementation to determine color. Color is not even configured per area or quad, but per face.

[2016-07-02 10:20] yueh commented on #10
Per face is not sufficient. We need it per quad, area, or whatever you want to call it. Or even just to pass it down to a submodel for a dense cable. Pretty much the same behaviour as the uvls just for 3 different colours per `AEColor`

[2016-07-02 10:39] dpeter99 commented on #10
Could somebody help me with: #17 ?
@elix-x

[2016-07-02 11:00] Elix-x commented on #10
When we speak of quads, faces and other things, apparently we speak of different things.

In green are:
Model: ![Model](http://i.imgur.com/M0qZFrw.png)
Quad: ![Quad](http://i.imgur.com/Yoxi2f3.png)
Face: ![Face](http://i.imgur.com/x9B96wt.png)

[2016-07-02 11:15] yueh commented on #10
In this case we need exactly 1 `AEColor` per model, which applies 3 shades of the same (rgb) colour to some but not all faces. And these colours needs to be exposed for resource packs.

[2016-07-02 11:22] Elix-x commented on #10
Configurable indexed color mapping. Huh. Doable.

[2016-07-02 11:31] yueh commented on #10
Actually it would be indexed colour mapping per face and not model.

Or just pass the `AEColor` as property and use it to select the right texture for a face.

I would recommend looking at something like the dense cables. Black and fluix (transparent) use pretty similar shades, but a different order. Further you will notice that the are differences between fluix and colored cables in some details.

[2016-07-02 11:52] Elix-x commented on #10
I can pass `isColored` and `color` properties to models for fine tuning. Considering they can be ignored, they won't cause problems if they will.
Color mapping though, works a bit in a different way:
Each face has `tintIndex` -> passed to `IBlockColors` when model is rendered in world along with `IBlockState, IBlockAccess, BlockPos`, which returns color -> to render face with.

[2016-07-02 12:21] yueh commented on #10
We should probably assess what data we actually need for blocks, cables, part, etc before making any plans. Common properties for decorative blocks (skystone can be rotated for example), normal blocks/tile entities and/or cables. Like cables have a different rotational behaviour. Itself they cannot be rotated, but every outer part can be, thus we have 6 parts each with 4 different rotations.

[2016-07-02 13:02] Elix-x commented on #10
We will do cables when we're done with everything else, so let's leave them (and parts) for later. All blocks that aren't TEs already pass everything they should. We need to decide which data TE blocks have and which they pass to models.

[2016-07-02 13:10] dpeter99 commented on #10
@elix-x
For the block models there are 2 problems:
1. #17
2. if I make the ignore.json then it still will be able to rotate it with a wrench and it will show the missing model

[2016-07-02 13:16] Elix-x commented on #10
We're in 1.10. I'm checking this / what may be causing this.

Working grinder example was included in last commit.

[2016-07-02 13:23] dpeter99 commented on #10
https://youtu.be/Uik9q_0RLsk

[2016-07-02 13:28] Elix-x commented on #10
It was partially working. I only precised `forward=[north,south,east,west]`, so when `forward=[up,down]`, it does not work.
Hint: right click on front side, to rotate only `up` without rotating `forward`.

[2016-07-02 13:32] dpeter99 commented on #10
OK I will make the models to support this and latter, the other rotations, that's why I would need all 3 axis.

[2016-07-02 13:34] Elix-x commented on #10
Yeah i know about 3 axis and stuf... Checking...

[2016-07-02 13:40] yueh commented on #10
That is why I meant we should assess first what data we need. Even if we do not need the cable parts now, some things will be shared between. Might even be used as documentation for resource pack makers later on.

[2016-07-02 13:51] dpeter99 commented on #11
![screenshot 47](https://cloud.githubusercontent.com/assets/7725817/16540661/d7eb4102-406c-11e6-8291-b6bb71ae0d42.png)
Sorry for the other screen :disappointed:
@elix-x

[2016-07-02 15:48] dpeter99 opened #18 "Images"
![2016-07-02_17 46 30](https://cloud.githubusercontent.com/assets/7725817/16541211/2bc10db0-407d-11e6-89dc-1da3252af736.png)
![2016-07-02_17 47 18](https://cloud.githubusercontent.com/assets/7725817/16541213/2bc189c0-407d-11e6-8cf1-302fc7faa5b9.png)
![2016-07-02_17 47 21](https://cloud.githubusercontent.com/assets/7725817/16541214/2bc2a562-407d-11e6-88df-7c47d8b56b29.png)
![2016-07-02_17 47 24](ht

[2016-07-02 15:52] Elix-x commented on #18
Mark them off in #9 and link images. Thanks.
Cells will get additional charge properties soon _(tm)_.

[2016-07-02 15:53] Elix-x commented on #17
Ok, that's not a bug. They simply did not implement z axis rotation. Huh... EVEN MOAR THINGS TODO... for me...

[2016-07-02 16:02] dpeter99 commented on #9
Updated links
Images can be found in: #18

[2016-07-02 17:17] dpeter99 opened #19 "Clarification for crafting unit naming"
Ok there are too many crafting units in inventory I think.

[2016-07-02 18:07] Elix-x commented on #19
?

[2016-07-02 18:25] dpeter99 commented on #19
Just these @elix-x  @yueh
- tile.BlockCraftingUnit.UNIT
- tile.BlockCraftingUnit.UNIT name: crafting co processor unity
- tile.BlockCraftingUnit.ACELERATOR
- tile.BlockCraftingUnit.ACELERATOR name: crafting co processor unity
- tile.BlockCraftingUnit.STORAGE_1K
- tile.BlockCraftingUnit.STORAGE_1K name: 4k
- tile.BlockCraftingUnit.STORAGE_1K name: 16k
- tile.BlockCraftingUnit.STORAGE_1K name: 64k
-

[2016-07-02 18:42] StrayCargo commented on #11
hmm did you reinstall

[2016-07-02 18:43] StrayCargo commented on #9
thanks

[2016-07-02 18:58] Elix-x commented on #19
Ask @yueh.

[2016-07-02 19:00] Elix-x commented on #14
I just noticed that AE uses deprecated `IInventory` and `ISmartInventory`. Should be moved to capabilities.

[2016-07-03 12:42] yueh commented on #19
How can I comment on something I do not even know what it is or where it comes from?

[2016-07-03 14:49] dpeter99 commented on #19
So @elix-x @yueh  I have these items in my creative tab.
And I don't now why.

[2016-07-04 07:09] dpeter99 opened #20 "Status updates"
@elix-x Could you post some status updates here, so we now that you are working.

[2016-07-04 07:15] Elix-x commented on #20
I pr every time i finish something :wink: .

[2016-07-06 05:31] StrayCargo commented on #20
Well with that update to the mod i think that will allow much faster processing of models so do you still want me to pull request my commit for models or just wait

[2016-07-06 05:36] StrayCargo commented on #14
ok well i am currently digging the code im beginning to think we should just rewrite it ti be a little less old code and get it up to speed and try to make it open so it can accept MCMP or FMP easier if one becomes the other or a new one is developed allowing for modules like FMP to be coded in easier in essence leaving some open ends for future expansion as well as i wont be able to do much this

[2016-07-06 07:05] Elix-x commented on #14
If you want, you can leave multipart system to me. I can look into it. As to should we rewrite it - no. When time will come, we will integrate it / support FMP. For now, it "works" _tm_, and we should leave it as it is (server side, rendering has to be redone).

Meanwhile, we need animated models for some things. (As i already said), it requires work on both sides, so someone of us should work wit

[2016-07-06 07:09] Elix-x commented on #20
Which models? :) How can i know about your models if
a) i only knew @dpeter99 was working on them
b) i don't remember you telling anything about you working those

So, depending on which models, you may want to commit them... After all, i didn't know on which models you were working (and whether you even worked on some) ...

[2016-07-06 08:59] dpeter99 opened #21 "Rotation rendering bug"
@elix-x
Here is a video:
https://youtu.be/O34xScBYyU0

And here is a another:
https://youtu.be/J0WuQc3sHYw

[2016-07-06 10:25] Elix-x commented on #21
This has to do with face culling. Try to remove face culling from models, this should help. (Meanwhile, we may need another solution, as not culling faces doubles amount of rendered things).

[2016-07-06 17:02] Elix-x commented on #10
@yueh in https://github.com/AEModernMCPort/Applied-Energistics-2/commit/0809ac5625cfb6eef89db1676c017ae585e8c67d, i imlemented automatic rotation. Now, i have 2 questions:
1. Why does Light Detecting Fixture need to extend `AEBaseTile` and need 24 fcaing rotations + 6 torch type rotations? This kinda makes no sense.
2. In theory, can charger contain item blocks that use built in models (`TileEntit

[2016-07-06 20:59] StrayCargo commented on #20
ok well it looks like most of the models i did have already been done so all good there
what did you want me to work on specifically

[2016-07-07 07:14] Elix-x commented on #20
Models with animations (presser). It requires work in both model (actiual animation) and code (passing to model state of animation). You could either work on it yourself, or with @dpeter99. You should use forge animation system for animations (so look into that).

[2016-07-07 22:12] JosephRymer commented on #20
ok well i think i work with @dpeter99 as soon as we can chat about it

[2016-07-07 23:06] StrayCargo commented on #20
so i currently am working on the inscribers hope to have them model done tonight or tomorrow as far as the animation goes i need @dpeter99 help with that or @elix-x so ill do what I can on it though no promises that it will animate or properly though

[2016-07-08 03:08] StrayCargo commented on #20
@dpeter99 @elix-x after doing some work i realized that my models are not matching up with the right images for some odd reason any ideas

[2016-07-08 07:21] Elix-x commented on #20
Github Desktop -> Applied Energistics 2 -> Sync
or
git command line -> Applied Energistics 2 -> `git pull`

[2016-07-08 18:50] StrayCargo commented on #20
is there a way i can do it inside intellij

[2016-07-08 19:10] Elix-x commented on #20
1. I use eclipse.
2. But how did you installed workspace in first place? (Sorry, ~~never~~ used idea).

[2016-07-08 19:23] drekryan commented on #20
There is a Terminal tool window inside IntelliJ that you can use to run a command such as "git pull". View > Tool Windows > Terminal. You can also use the VCS (Version Control System) Menu Item and select "Update Project". The icon should say "VCS" with a blue down arrow. This icon is also in the top right of IntelliJ

Also getting a workspace for IntelliJ set up is incredibly easy.
1. Run "git cl

[2016-07-08 19:56] StrayCargo commented on #20
looks like i got everything now so i can now start work on the model for the inscriber so i can then animate it

[2016-07-08 21:49] StrayCargo commented on #20
whats the name i should put for the json model for for inscriber

[2016-07-09 06:27] dpeter99 commented on #20
There isvalreadi a modell for the Inscriber it just needs the inner moving parts

[2016-07-09 09:52] yueh commented on #10
1. Mostly because it has to be a tile entity. The 6 torch rotations seem to be unnecessary as the 24 facing rotations. But if I recall correctly, they use a meta based rotation system, not the 2 facing based one. (16 states should be enough to cover every rotation in this case).
2. They can pretty much contain every subclass of `Item`, same as the inscriber. The are a bit more limited to only char

[2016-07-09 10:16] Elix-x commented on #10
Right now, it has 2 te facings + meta based rotation. Which one do we keep?

Well, for sake of performance, we can combine block model and item model and render it once, it will cache the model and we don't have to render item each tick. Meanwhile, it will not be compatible with items using `TileEntityItemRender`. To be compatible with those, we need to have TESR rendering items each tick on top o

[2016-07-09 10:17] elix-x commented on #10
https://github.com/AEModernMCPort/Applied-Energistics-2/commit/0809ac5625cfb6eef89db1676c017ae585e8c67d

[2016-07-09 10:52] yueh commented on #10
Meta based rotation is pretty useless currently with blockstates. So get rid of it for now. The same probably also applies to the normal light fixture. Basic blockstate rotation might be used again for decorative blocks. But for now not important.

I have forgotten the assembler.
Caching the whole model should actually be bad. In terms of the assembler we are talking about invalidating the cache e

[2016-07-09 12:36] Elix-x commented on #10
Ok. Removing it.

Why each 2 ticks?

"You have to write additional code to hardcode ignore some properties" hence i didn't write it, in case properties will be needed.

Whole model baking pipeline is similar to what you said, though there are some differences. It has to be written (i'm working on it, but it's not working yet), and tested on cables.

Some words concerning entire thing: I think that

[2016-07-09 13:26] yueh commented on #10
A crafting operation takes 2 ticks or so at max speed. Considering that there are usually multiple ones per chunk and they could be staggered, you can expect 1 chunk redraw/tick when using static models.
Even chargers or inscribers are every few seconds.

We will need it for parts. Each one will need their own part/block state and you have to pass them in a generic way. Not pass the full block sta

[2016-07-09 13:47] Elix-x commented on #10
Ok, that explains it.

Parts are different from all other blocks, they aren't not blockstates, but alike. Way data is passed is different too.
As i said mutiple times already, parts aren't blocks (techincally they are, but the way they are handled is not the same) and when speaking of one, we hsould not speak of another, as things differ completely.

I agree, it will cause us hassle with crash rep

[2016-07-09 14:49] yueh commented on #10
As things yes. But on an abstract level we basically need these things for pretty much both:
1. Something to load models.
2. Something to pass the state or a subset of it to the model (maybe part of 1.)
3. Something to rotate a single part or block.
4. Something to merge everything together and ideally cache it.

So my question is mostly, could we handle everything like parts? Load them, pass the

[2016-07-09 15:45] Elix-x commented on #10
Yes, sure. It's totally possible. Technically [current model rotator](https://github.com/AEModernMCPort/Applied-Energistics-2/blob/0809ac5625cfb6eef89db1676c017ae585e8c67d/src/main/java/appeng/client/render/model/CachingRotatingBakedModel.java) already does 1, 3 and 4. But this was temporariry solution so that @dpeter99 can work on models without worrying about rotations, while i extend it to mode

[2016-07-09 16:32] dpeter99 commented on #21
@elix-x
I edited the original issue 3 days ago with this
I think this is because the faces retain their brightness from the original position
And here is a another:
https://youtu.be/J0WuQc3sHYw

[2016-07-09 16:38] Elix-x commented on #21
WTF? I saw this a few times in my workspace and fixed it... I think it's back...
Birghtness has nothing to do with invisiblity.
Wait, how did you rotate it correctly in 1 and it bugged in 2?

Also, github does not notify when issue is edited, so i didn't saw second video till now

[2016-07-09 17:16] dpeter99 commented on #21
I made a custom model with faces culling all the time.

[2016-07-09 18:34] StrayCargo commented on #20
so i scratch m,y head at it is there anyone that can help me out with it little bit confused

[2016-07-09 19:03] dpeter99 commented on #21
Yes that's why it is there in  the second video.

[2016-07-09 20:07] Elix-x commented on #21
So you removed face culling and this happened?

[2016-07-10 08:02] dpeter99 commented on #21
Yes. the second video is without face culling.

[2016-07-10 08:06] Elix-x commented on #21
Ok, this is very weird. I'll try reproducing that.

[2016-07-10 12:12] Fredi100 opened #22 "Would like to help"
Hey, i really love Applied Energistics. And i looked through the discussion about porting it to 1.9 and all that so i decided to offer my help. I have about 5 years of Java programming experience. I do know about Design Patterns, Data Structures and a bunch of other stuff. I already made 1 mod so far, even though it is still in development but i would probably still need some explanations on how c

[2016-07-10 15:55] Elix-x commented on #22
Everybody who wants to help - already can. You can fork the repo and work on your fork, then when you're done, PR it here. I'll also say to do something that needs to be done, not something you thought of would be nice addition (remeber, currently we are just porting without adding anything new or changing majorly server side code). Depending on which part you work on (models or internal rendering

[2016-07-10 18:00] Fredi100 commented on #22
Okay cool.
Well no i did not want to add new things.
I just dont know where to start. I looked through the code and there are a lot of things i dont really understand. For example. The only thing i have rendered so far was a normal block with an animated texture. But i guess rendering is currently the only thing that really needs to be ported, because all the logic should stay the same, or am i wr

[2016-07-10 18:13] Elix-x commented on #22
Yep.
Try to read through our issues (mostly  #9 and #10), you may get what is happening.

[2016-07-10 18:47] StrayCargo commented on #22
Glad to see we are getting the community involved @elix-x

[2016-07-10 18:48] StrayCargo commented on #20
@dpeter99 dont close this issue is for status updates so we all konw were we are all at

[2016-07-10 18:49] StrayCargo commented on #20
on that note as a status updates i am currently working on the model for the inscriber and hope to have it finished within the week followed by the skystonechest model and their animations this week finished

[2016-07-10 18:51] Elix-x commented on #20
@JosephRymer skystone chest = TESR

[2016-07-10 19:02] StrayCargo commented on #20
yeah i know but probably wont get to it so more  concerned the with inscriber at the moment

[2016-07-10 19:04] Elix-x commented on #20
Ok. Inscriber's and charger's items display will also require TESR.

[2016-07-10 19:17] StrayCargo commented on #20
well not really sure how to work with TESR so ill have to dust up on it if you get any recommended wikis or tutorials you cant post them here

[2016-07-10 19:23] Elix-x commented on #20
I can do them, if you want... (MOAR branches...)

TESR has also changed a bit 1.7.10 -> 1.10.2 and (i think) there are currently no tutorials covering it correctly.

[2016-07-10 19:25] StrayCargo commented on #20
well all let you do it and ill give a try on it see if i cant get it to work for the inscriber

[2016-07-10 19:38] Elix-x commented on #20
Ok. I guess, i'll finish that and commit only this part.

[2016-07-10 19:38] StrayCargo commented on #20
stash and do? ok

[2016-07-10 19:39] Elix-x commented on #20
Not stash, i figured it's partially done already, so all i have to do is finish it and commit only what's affected by it.

[2016-07-10 19:50] StrayCargo commented on #20
ok well im looking into TESR so

[2016-07-10 19:54] Elix-x commented on #20
Ok, you may. I should finish it soon enough... Let's say 10:30 UTC, as it seems we live in different time zones.

[2016-07-10 19:55] StrayCargo commented on #20
true i live in CTZ

[2016-07-10 19:56] StrayCargo commented on #20
if your working on the TESR animation what would you like me to work on models TESR etc.

[2016-07-10 22:51] JosephRymer commented on #20
so i tired to set it to tile.BlockInscriber and its still not referencing the image for some odd reason any ideas

[2016-07-10 23:32] StrayCargo commented on #20
I am having an issue with all blocks coming form Registration.java so none of the blocks are being shown with their textures @elix-x @dpeter99 the issue is steaming form that it is calling in BlockInscriber but when in game it loads with a tile. in front of it

[2016-07-10 23:38] Dhvagra commented on #20
[McJty did a tutorial about TESRs.](http://modwiki.temporal-reality.com/mw/index.php/Render_Block_TESR_/_OBJ-1.9)

[2016-07-11 07:09] Elix-x commented on #20
@JosephRymer weird. Moar weird bugs!!!
@Dhvagra saw it, it does not include fast TESR.

[2016-07-11 08:51] Elix-x commented on #10
@yueh why does stair block has separate feature handler?

[2016-07-11 09:16] yueh commented on #10
If I recall correctly, stairs and slabs use a different parent class. Thus there are multiple handlers per parent class (block, tiles, cables, slabs, stairs).

With 1.8+ we can most likely get rid of them and just have one of simple blocks including stairs and slabs. (Not sure about the slabs and their special behaviour).
Also I think the feature handlers could need a small refactoring, like there

[2016-07-11 09:30] Elix-x commented on #10
Stairs do have different super class (`BlockStairs`), but can't they be merged with simple block feature handler? Because slabs seem to be registered with block feature handler and not specific one.

[2016-07-11 10:35] Fredi100 commented on #15
When i open Eclipse and Import the project i get 4 errors in the description:

[code]

[2016-07-11 10:53] Elix-x commented on #15
Make sure you're on 1.10 branch and rerun gradle commands.

[2016-07-11 11:08] Fredi100 commented on #15
Okay thanks, it was on master.
Why the 1.10 branch? Do we skip the other versions?

[2016-07-11 11:21] Elix-x commented on #15
Master in which way? Because there's branch named `master` and there's `1.10-rv3-rendering` which is master branch (one you should use).

Yup.

[2016-07-11 12:07] drekryan commented on #15
If I'm not mistaken the Master branch is still on MC1.7.10

[2016-07-11 12:08] Elix-x commented on #15
Yes.

[2016-07-11 13:39] #21 closed

[2016-07-11 15:28] Fredi100 commented on #15
It was the one called `master`

[2016-07-11 15:31] Elix-x commented on #15
Wrong one. Switch to `1.10-rv3-rendering`, sync and rerun gradle commands.

[2016-07-11 15:41] Fredi100 commented on #15
Yeah, i did that and now it works.

[2016-07-11 15:43] Fredi100 commented on #22
Is there a chat or something where everybody can write each other without spamming the comments of an issue?

[2016-07-11 15:49] Elix-x commented on #22
We kinda have multiple issues for that... And can't always spam each other due to different time zones / free time.

[2016-07-11 15:51] Elix-x commented on #9
@dpeter99 please commit charger and/or inscriber (or send them via gist). I need those to work on TESRs.

[2016-07-11 16:32] Fredi100 commented on #22
true

[2016-07-11 16:36] dpeter99 commented on #9
I think they are committed.

https://github.com/AEModernMCPort/Applied-Energistics-2/blob/1.10-rv3-rendering/src/main/resources/assets/appliedenergistics2/models/block/tile.BlockCharger.json

https://github.com/AEModernMCPort/Applied-Energistics-2/blob/1.10-rv3-rendering/src/main/resources/assets/appliedenergistics2/models/block/tile.BlockInscriber.json

[2016-07-11 16:59] Elix-x commented on #9
I get what's wrong, [blockstates are invalid](https://github.com/AEModernMCPort/Applied-Energistics-2/blob/1.10-rv3-rendering/src/main/resources/assets/appliedenergistics2/blockstates/tile.BlockCharger.json).
In https://github.com/AEModernMCPort/Applied-Energistics-2/commit/524dc52dd6d95f0980868beb5292ef2c10fc2330 i implemented automatic ignore of rotation properties, as we decided with @yueh. So

[2016-07-11 17:02] Fredi100 opened #23 "Quartz Pillar Block does not keep rotation"
If you place a Quartz Pillar Block it does get placed depending in which direction the player looks. But if you save the map and then reload it, the rotation gets reset and every pillar looks in the same direction

### Before
![2016-07-11_18 59 59](https://cloud.githubusercontent.com/assets/2962747/16739329/dd3b7aa8-4799-11e6-8f71-c95e17e3bf78.png)

### After
![2016-07-11_19 00 08](https://cloud.g

[2016-07-11 17:10] Elix-x commented on #23
:bug: :beetle: :bug: :beetle: :bug: :beetle: :bug:

[2016-07-11 17:45] dpeter99 commented on #9
Oh. ok

[2016-07-12 05:39] drekryan commented on #23
Most likely a desync with the NBT data. Those are always a pain to track down if that's the case

[2016-07-12 07:19] Elix-x commented on #23
Pillars use metadata, so not with these...

But all tiles have NBT desync right now.

[2016-07-12 10:27] Fredi100 commented on #9
Why are the items cell1k trhough cell64k not finished? They have a texture ingame

[2016-07-12 10:31] Elix-x commented on #9
Drive bay...

[2016-07-12 10:32] Fredi100 commented on #9
But, wouldn't that consider the drive bay model and not the cell model?

[2016-07-12 10:37] Elix-x commented on #9
Not quite. Dirve bay will show drives in it, thus drives will need in-drive model.

[2016-07-12 10:40] Fredi100 commented on #9
Hmm, Do the different drives look different inside the drive bay. Or do they look the same as soon as they are inside of it?
Because i thought. Wouldn't it be easer to just define different blockstates for the drive bay depending on the drives inside of it?

[2016-07-12 10:42] Elix-x commented on #9
Hahahaha... Sorry, Nope. Drive bay will use dynamic runtime model baking (base model + drives).

[2016-07-12 10:46] Fredi100 commented on #9
Okay, didn't know that. Don't even know what dynamic runtime model baking is. But it sound... dynamic

[2016-07-12 10:48] Elix-x commented on #9
It's very simple: it's the reason of me not committing for 7 days...

[2016-07-12 10:49] Fredi100 commented on #9
Haha okay i see

[2016-07-12 10:57] Fredi100 commented on #9
Could you or someone else explain me how exactly AE registers all its models. I only know the plain

[code]

And this for every Item/Block.

Either i can't find the place where all the models get registered or I don't get the way it registers them.

For example. In my mod, I had an ArrayList with every Block I added and an ArrayList with every Item and then it iterates through them and registers e

[2016-07-12 11:08] Elix-x commented on #9
Look in my recent commits :wink: .

[2016-07-12 11:24] Fredi100 commented on #9
Okay, now i kinda got it. I still don't understand why so much code, but i guess if one writes a mod with this size thats the only way to register everything without writing it for every single thing extra

[2016-07-12 11:34] Elix-x commented on #9
Yup. And good idea would be to not mess with these.

Also, if you have questions, please go here #10 or here #14 (depending on type of questions).
In this thread, you can find what to do with models, in #14 you may find things to do in code.

[2016-07-12 16:40] StrayCargo commented on #20
So with @elix-x recent commits for rotation ignorance on TESR I am now currently working on the different press models so that we can work further on the animation for the inscribers

[2016-07-12 16:46] Elix-x commented on #20
Yup, basically animation with forge's animation system (wanted to insert a link, but could not find any tutorials on that, sorry. I can only give you [this](https://github.com/MinecraftForge/MinecraftForge/blob/5eeda7923471cd6fe3ce168ab1d1671094e62c7c/src/test/java/net/minecraftforge/debug/ModelAnimationDebug.java)).

[2016-07-12 16:48] StrayCargo commented on #20
why couldn't we just stick with what was used for rendering before 1.8

[2016-07-12 17:08] Elix-x commented on #20
By using TESRs?

[2016-07-12 17:21] StrayCargo commented on #20
yeah true well im trying TESR right now so hopefully learn it fast

[2016-07-12 17:23] Elix-x commented on #20
We have forge model animation system for that, so why not to use it?
BTW, it will be harder to use TESR than FMAS.

[2016-07-12 18:02] StrayCargo commented on #20
well if TESR is the way minecraft is going we should try to have both TESR and Forge rendering model animation system as well so that there both there in case TESR becomes the standard its an easy switch over but since you cleared that were using FMAS i will learn FMAS.

[2016-07-12 18:09] Elix-x commented on #20
![2016-07-12_19 51 32](https://cloud.githubusercontent.com/assets/10380315/16778062/89da1b84-486c-11e6-9238-817f04726285.png)

[2016-07-12 18:10] JosephRymer commented on #20
awesome ^^^

[2016-07-13 08:44] Elix-x commented on #14
Found even more things to do server-side, here's full list:
- [ ] Move inventory implementations to caps. Interfaces are deprecated. Class hierarchy affected: `? extends AEInventoryTile`.
- [ ] Fix rotations and other properties not being saved. Includes both blocks (meta -> state -> meta) and tes (read/write NBT). Class hierarchy affected: `? extends AEBaseBlock | AEBaseTile`.
- [ ] Check & fix n

[2016-07-13 19:05] StrayCargo commented on #14
@elix-x  don get burned by that bakery but ill be looking into the inventory GUI texture failure

[2016-07-13 20:58] Elix-x commented on #14
Ok, thanks. I'll try not to.

[2016-07-14 13:28] Elix-x commented on #10
@yueh, @dpeter99, we need to start to decide how cables should be partitionned (because i need them for model bakery testing :P). Cables will have 4 states on each side (no, part, block, dense), standing for things they are connected to. Depending on state, cable's model have to be extended differently. So we need to decide how many space each thing takes. Here's partitions i came up with: ![Cable

[2016-07-14 15:49] yueh commented on #10
Not sure what I am supposed to see, maybe it needs to spin faster?

But otherwise these cases apply to cables. Some of them might be passed to submodels/parts/whatever, but it aggregates it on a block level. (No guarantee to be complete)
- **Part locations**
  - 1 center part
  - 6 side/facing parts
  - 6 facades
- **Center part**
  - Special case
  - Different sizes
    - 4px^3 for glass
    - 6p

[2016-07-14 16:42] Elix-x commented on #10
I agree on most things, except for the fact that with models it kinda does not split in that way. It's 1.9, and we have conditional model multiparts (look at fence model in 1.9, and you will understand what i mean).

I would like to know dimensions (you gave them, but also some that aren't needed), so i'll start with cables: each cable needs "straight" center part, center part (1.7.10=cable withou

[2016-07-14 18:24] yueh commented on #10
Conditional models will not cover everything. As you said, they support fences and can hide/show connections. But are probably not made to handle 20 or more combinations per side.
Except you can load and merge them with others. Otherwise cables need to be fully extendable by addons. And I have no ideas how you would allow an addon to change the model files.

Just the center has 7 or 8 different st

[2016-07-14 21:28] Elix-x commented on #10
Models != server side.
Collision boxes = server side

Condition models != conditional multiparts, though yes, they can't handle everything.

zFighting = idk how, but it does not happen. It works, so yay.

I'll see what i can do and look in 1.7.10 version.

[2016-07-14 22:23] yueh commented on #10
Not the collision boxes in terms of player collision, but the ones used to show the current selected part when raytracing them (this is done client and serverside). I cannot remember it for certain, but they both should use the same bounding boxes. While fences just extend the whole box, we still need a multiple ones per cable.

Connections are at least static and cannot be changed by addons. But

[2016-07-15 07:08] Elix-x commented on #10
Yep, and because they are both client and server side, models can't be used for them.

I'll try to see if i can implement this with 1 or 2 cables, i may get it working...

No, it won't break RPs... Well, kinda. If during `gradle build` we generate and attach model files, they can still be overriden by resource packs. It's just that they don't have generation tools we do and will have to write them

[2016-07-15 09:10] yueh commented on #10
No idea currently for a good solution. If we need to handle it internally and completely have to ignore RPs, I would say it is a valid option. It should just be consistent, either we allow RP to completely change parts or we prevent it. Not something like they can change cables (which are just parts) but not parts.

It is really just one cable and the types are just the one part, which can be atta

[2016-07-15 12:17] Elix-x commented on #10
Sizes will have to be hardcoded. Because what whould happen if 2 players are using different RPs and size in each are different?

I was looking into it currently :wink: ...

[2016-07-15 12:18] Elix-x commented on #10
![Cablez](http://i.imgur.com/iDHSGcN.png)

[2016-07-15 18:05] Elix-x commented on #10
![Nyan Cablez](http://i.imgur.com/iTIGqj1.png)

[2016-07-16 13:59] StrayCargo commented on #20
I aplogize for my absence this week some real life situation came up and my environment has crashed again today im, currently working on getting it back online so i can continue development

[2016-07-16 16:33] Elix-x commented on #20
Luckily for you, forge has now [official IDEA setup guide](https://github.com/MinecraftForge/MinecraftForge#how-to-install-forge-for-modders) (and completely forgot about eclipse...).

[2016-07-16 16:33] StrayCargo commented on #20
good

[2016-07-16 16:34] StrayCargo commented on #20
@elix-x are you on slack

[2016-07-16 16:36] Elix-x commented on #20
No :(

[2016-07-16 16:45] StrayCargo commented on #20
can you join me on slack then we can voice chat much easier to diagnose and get going that way

[2016-07-16 16:46] Elix-x commented on #20
1. I don't think i could help you with idea :(
2. Even if, sadly not right now (nor probably even today) ;(

[2016-07-16 18:11] StrayCargo commented on #20
ok well what do you want me to work on after i look over fmas and the latest java version

[2016-07-16 19:19] Elix-x commented on #20
Well, do & finish blocks with animations first and then we always have things to do in #14.

[2016-07-17 19:52] StrayCargo commented on #15
I will be working heavily this week in IRL but will also be looking into the TODO 1.10 @elix-x @dpeter99 @drekryan if you guys could make a issue tiket for the TODO 1.10 so that its on github as well as in the code in case it doesn't show  up in the persons IDE

[2016-07-17 19:59] Elix-x commented on #15
I'm pretty sure i duplicated everything important i marked in code in #14, but i'll check.

[2016-07-17 20:34] StrayCargo commented on #15
ok will do also I have a friend  of mine who is  a great coder and want to look at the last code algorithimx2 was working on do you got a link to it

[2016-07-18 07:11] Elix-x commented on #15
This seems to be the last one https://github.com/AppliedEnergistics/Applied-Energistics-2/commit/71afa9bf53e1dc397884ff289636047cf066e039.

[2016-07-18 09:06] #17 closed

[2016-07-18 10:37] Elix-x commented on #10
@yueh Why is `AECableType` a enum? Are we like "nah" to adding more cables? Or we expect addons to master `EnumHelper`?

Also, i'll stop spoiling cables for now...

[2016-07-18 15:57] Elix-x commented on #14
I recently got to server side testing with parts and stuff (don't ask how ;) ), and... Yeah:
- [ ] All network stuff still not ported to 1.8's multi threaded net. (Tons of async exceptions in logs)
- [ ] Due to it and more things, sync is broken. Completely.
- [ ] ME system works... Kinda... It can store items, import and export them, but crafting does not work and contents aren't synced to client

[2016-07-18 21:09] StrayCargo commented on #15
good reference point for us to use in case of any problems we cant seem to fix can look back

[2016-07-19 01:23] StrayCargo commented on #15
I think after reading this that we should try to refine our documentation in the code stating what everything does and where so when we update a deprecate things later its easier to understand what we are removing or updating

[2016-07-19 07:13] Elix-x commented on #15
Probably yes. Also, we always have github revert commit button ;) .

[2016-07-19 16:31] StrayCargo commented on #15
cool good

[2016-07-19 16:38] Elix-x commented on #15
BTW, your workspace is working now, right?

[2016-07-19 16:46] StrayCargo commented on #15
yes its working appears just an intellij bug currently at work but will good to go tonight when i get home from work . What did you need me to work on

[2016-07-19 16:51] Elix-x commented on #15
Well, we now have a pretty big list over in #14.
And you still got animated models stuff...

[2016-07-19 16:52] Elix-x commented on #14
Ok, one more thing i was forgetting to put here for long time:
- [x] (https://github.com/AEModernMCPort/Applied-Energistics-2/commit/dc7ddfe107089420f3d608d87ff47ee822477989) Stairs don't need their own `FeatureHandler`, merge with block's.

[2016-07-19 17:23] JosephRymer commented on #15
cool well currently looking at some forge documentation

[2016-07-19 17:23] JosephRymer commented on #15
trying to understand blockstates

[2016-07-20 10:01] yueh commented on #10
On a technical side there are no cables in AE2, thus the `AECableType` is (or should) be mostly used for clientside rendering and how a existing connection should be rendered on the side of AE2.
It might be an idea to refactor it and use `@SideOnly`, if applicable. But then `@SideOnly` is more or less broken without any fix in sight.

So yes, there is not intention to allow more cables. It would a

[2016-07-20 10:15] Elix-x commented on #10
Well, i 50% left it. I combined 2 systems to allow parts to specify dynamic models (like depending on their state). So conflicting aside, should it still be an enum?

[2016-07-20 10:43] yueh commented on #10
I do not see any better implementation for java currently.  The alternatives would be pretty much something like return a `Class<? extends CableType>` and do stupid `instanceof` checks or use an int or String and have a full blown cable type registry, which nobody ever will use. (And also break the rendering)

The only sane alternative in Java would probably be use real polymorphism and use soemth

[2016-07-20 10:51] Elix-x commented on #10
Well, in vanilla items are singletons which are held by itemstacks, which are individual. Couldn't we do the same thing? Singleton cable types holding information that is the same accross individual `IPart` instances.

[2016-07-20 13:50] Elix-x commented on #9
@dpeter99 You can work on stairs now (https://github.com/AEModernMCPort/Applied-Energistics-2/commit/dc7ddfe107089420f3d608d87ff47ee822477989). Standard vanilla format.

[2016-07-20 18:01] StrayCargo commented on #15
Currently setting up new mobile environment so i can work on it while at work expect to be ready to go tonight aslo i think we need to look over our blockstates and again and remove the ignorance of TESR so we can fix the rotation issues as it appears that also causing issues with the UI textures for the mod

[2016-07-20 19:37] Elix-x commented on #15
Rotations are fixed (remember to sync in git).
GUI glitches = lighting.
Block states have to be modified, but not recoded completely.

[2016-07-20 21:37] StrayCargo commented on #15
i agree ill take a look at that tonight as far as UI glitches and lighting

[2016-07-22 08:34] yueh commented on #10
Vanilla is not using singletons. (I am not even aware of any singleton in minecraft, maybe except `Minecraft`)

It would pretty much like replace java enums with your own custom implementation because of 'not-invented-here-syndrome'. For something which just indicates 'if AE has a connection to this tile, render it as X'.

[2016-07-22 08:42] Elix-x commented on #10
Well, why not? After all, if they implement their own cable, they take care of rendering it and it's connections, not us.

[2016-07-22 08:57] yueh commented on #10
As said, it is pretty much only used for AE itself. It is completely optional for anyone making their own cables, but if they ever connect to any normal AE cable, we need this information.

It will also only ever be limited to the cable types we support. Nothing else. So allowing any arbitrary subclass instead of a well defined enum will just cause issues.

[2016-07-22 09:10] Elix-x commented on #10
Well, we can make the class final and hold all instances. So it's not limited to what we need, but it also does not allow to extend class and mess with stuff.

[2016-07-22 09:31] yueh commented on #10
Why do you want to replace an enum with your own custom enum? Just to write `class` and not `enum`?
`Enum` is just a final class, which holds all subclasses of it and an instance of them. But with all the advantages of having a special treatment by the compiler. Like use it for `switch`.

Just to be sure, could you please explain what you think it does? Because currently I not certain, that you un

[2016-07-22 09:40] Elix-x commented on #10
Well, previously, it was just acting as a type of AE-vanilla connection to render. With model's system nature, i had to refactor it, because we need to map cable models' used textures to texture atlas while stitching, so we need to load models, get all textures from model and map them. I agree, enum is very useful for that.
Now let's say, somebody wants to add new cable type and render connections

[2016-07-22 09:46] yueh commented on #10
There is no "somebody wants to add new cable type". It will simply never happen.

[2016-07-22 09:58] Elix-x commented on #10
Why? Anything can happen?

[2016-07-22 10:09] yueh commented on #10
It is nothing we have to care about it. We simply connect as our cable type to any block and that is it.
There is no need for trying to extend EnderIO cables into our blockspace. It will look horrible due to their alignment and why invest the time to let it look horrible?

If someone copies our cables and say make light emitting ones (that is as far as I remember actually a feature request), then

[2016-07-22 10:26] Elix-x commented on #10
Ok i'm leaving enum as it is... They have `EnumHelper` after all...

Meanwhile cables are working, but @dpeter99 will have fun times manually playing with UVs, as currently not everything is aligned properly (channels on smart & dense cables).

[2016-07-22 10:36] dpeter99 commented on #10
OK. it sounds "fun" I will look at them later this day (UTC+2)

[2016-07-22 11:03] Elix-x commented on #10
Well, sorry, not today. I'm not ready to commit cables & parts stuff yet. Should be done with them soon, though.

[2016-07-22 11:03] yueh commented on #10
There is also `ReflectionHelper` or whatever to remove any final from a class. Or ASM, whatever.
If someone wants to be an idiot and tries to manipulate the bytecode, there is really nothing we can prevent.

An easy fix would also to just allow our own cables or nothing as center part.
Would there be an official forge multipart API, it would be a bit different. But for our own system, there is no

[2016-07-22 11:05] Elix-x commented on #10
Well, if they implement new cables, they take care of them.

Meanwhile, why is there `NONE` cable type? Can't we simply return null when there's no cable?

[2016-07-22 11:11] yueh commented on #10
`NONE` means `render nothing`, not `there is no connection`. And you should know my opinion about "simply return null" :wink:

Probably never be used or at least extremely rare, but I can see one or two uses case.

[2016-07-22 11:17] Elix-x commented on #10
Well, yes, i know that already. But in this case, there's no cable, there's nothing. Kinda logical...

Only rare case could be returning it from tile that does not want to render connection, but if you don't want to render connection, there's no connection / empty connection / null connection...

Right now, if TE returns `NONE`, it will cause all cable to go white-purple box... Not ideal at all.

[2016-07-22 11:27] yueh commented on #10
You could potentially add something like a directional wireless emitter injecting a connection directly into cable or tile. Say to have a free floating block in the middle of your base and hide the cables.
In a rare case you could place it next to a cable and face that, by default the cable should then render a connection, but that is clearly wrong in this case.

Or say someone really wants to add

[2016-07-22 11:36] Elix-x commented on #10
Very ideal implementation. Return `NONE`, cause all neighbour cables & tes to become black&purple boxes / not render connection and render everything for them. Totally implementing it.

[2016-07-22 11:52] yueh commented on #10
If our own cables are unable to render no connection regardless of having a neighbour or not, that implentation is already flawed.

"No connection" is a simple requirement for no connection due to a non grid TE, no connection possible on this side etc. If adding another condition for it like the neighbour reporting `NONE` breaks it, there are already more issues with the rendering implementation.

[2016-07-22 12:03] Elix-x commented on #10
They are...
I was just messing with commenting out some parts of code (like `if(connection!=AECableType.NONE){`).

[2016-07-22 12:31] yueh commented on #10
Having something like `getCableConnectionType().bakeModel(data)` would probably be a more clean approach in terms of software design. But `AECableType` is a part of the API and we cannot really ship internal code with it. Some addons will ship it and the forge random classloader can potentially use an outdated class breaking whatever. So at the API level we pretty much have to resort to interfaces

[2016-07-22 12:40] Elix-x commented on #10
That's also one of the reasons i wanted it to be a non-enum: to not ship baking things with API. So we create all cable types with rendering methods internally, and API users can access them same way they can access AE's items.

[2016-07-22 13:07] yueh commented on #10
I still do not see any advantage of exposing internal methods/functionality to every mod in a way they can easily break by passing around their own implementation.

`AECableType` is just data our own render will respect and act accordingly. Like a dense cable rendering a dense connection to a tile supporting 32 channels like the QNB. Nothing more.

Converting it an interface with a factory exposin

[2016-07-22 13:28] Elix-x commented on #10
Ok, let me finish current part system and then we will look at how it can be improved changed. Right now, it's already working, dynamic and extendable. And i'm done with cables & facades.

[2016-07-22 14:09] yueh commented on #10
It is fine when it can support it. It should just be careful about what it exposes at first.

[2016-07-22 14:20] Elix-x commented on #10
Same rendering methods it didin 1.7.10, but only with different params...

[2016-07-23 05:12] StrayCargo commented on #15
So while look at some UI texture blockstate bugs my IDE crashed and when I tried to reload it it wouldent start i drilled down to find out that my environment that I thought I had setup right was setup wrong and was hanging by a thread so with that being said I have been forced to rebuild the entire project. I would like to ask if someone would be as so kind as to post a step by step process for i

[2016-07-23 08:28] Elix-x commented on #15
First, forge in README has a video on how to setup forge with intellij. It's recent, so it will work.
Second, i don't see how block states will affect GUI.

[2016-07-23 13:17] ishbutz opened #24 "Cannot build the last release ( dc7ddfe )"
Hi,
I have limited knowledge with java and minecraft modding but I really would like to see this mod ported to mc 1.10

I tried successfully to build the first releases but this one I can't.
I've tried to clone the repo and also to download it.
The build is successful with gradlew setupDecompWorkspace but I got these errors with gradlew build :

[code]

Am I missing something ?
Can you help me ple

[2016-07-23 15:08] Elix-x commented on #24
Oh, yeah, sorry. I accidentally pushed latest release without testing and missed these things. I've already fixed them though, so should be able to commit them easily.

[2016-07-23 19:12] #24 closed

[2016-07-23 23:29] StrayCargo commented on #15
neither did i odd how it did how would i add in AE@ build into forge

[2016-07-24 01:39] Dhvagra commented on #15
You can add AE into your forge intellij enviroment by checking it out from github.

[2016-07-24 01:53] Dhvagra commented on #15
So:
`File` -> `New` -> `Project from Version Control` -> `GitHub` -> log in with your GH credentials -> set a Master Password (or don't, up to you) -> `Git Repository URL`, fill in "https://github.com/AEModernMCPort/Applied-Energistics-2.git" -> give it a path -> `Clone`.

Afterwards you'll get prompted to import a Gradle project, do this. That'll spawn a GUI, in which you have to check `Create di

[2016-07-24 02:18] StrayCargo commented on #15
so do i need to run setupdecompworkspace
and how would i add into forge

[2016-07-24 02:19] Dhvagra commented on #15
Yes. you have to run that indeed, and what I meant with add into forge enviroment, is what i explained in the other post.

[2016-07-24 02:24] JosephRymer commented on #15
right i know how to check it out from github but what problem it ran into was the modules setup and arguments

[2016-07-24 03:44] JosephRymer commented on #15
ok so i got forge going again how do i get AE2 to start working with it

[2016-07-24 04:16] StrayCargo commented on #22
No Longer a active conversation

[2016-07-24 04:16] #22 closed

[2016-07-24 04:23] StrayCargo commented on #9
@elix-x @dpeter99 @yueh I am currently now working on some models for the crafting storage multi block is that alright with yall. I ran to this problem after creating a model and giving it the block state and the png for the 4k crafting storage.For some reason its till coming no texture and is now crashing my client any ideas.
`{
    "__comment": "Model generated using MrCrayfish's Model Creator (

[2016-07-24 07:57] dpeter99 commented on #9
You shouldn't make a new model for each off them you can use the parent:cube solution. Look up the vanilla blocks (coblestone). If you want I can make the models latter this day

[2016-07-24 08:28] Elix-x commented on #15
@Dhvagra thanks for helping him... And please stay here for help with IDEA... Because it's one of only things i can't help with XD...

[2016-07-24 12:15] Dhvagra commented on #15
No problem. Although my knowledge of IDEA stuff kind of stops there, still learning the stuff myself.

[2016-07-24 12:49] Elix-x commented on #15
Well, at least you know something.

[2016-07-24 17:09] StrayCargo commented on #9
what do you mean I dont need to make a model for it

[2016-07-24 17:12] Elix-x commented on #9
No. Just no.

[2016-07-24 17:14] StrayCargo commented on #9
then what would you suggest @elix-x

[2016-07-24 17:18] StrayCargo commented on #9
ok how exactly do i do that again

[2016-07-24 17:40] Elix-x commented on #9
[No, but srsly.](http://lmgtfy.com/?q=minecraft+block+models+parent)

[2016-07-24 17:46] StrayCargo commented on #15
well i did some work on it and got it working so all good now

[2016-07-24 17:48] StrayCargo commented on #9
i konw how to make the models and blockstates the problem is the texture is not pulling over

[2016-07-24 19:32] StrayCargo commented on #9
I have tried multiple methods of getting the texture to load in but for some reason its just wont any ideas

[2016-07-24 19:44] Elix-x commented on #9
Check that you are referencing texture from corrent location, check that you are referencing model from correct location, check that they are in correct locations...

You know, that they work for me and @dpeter99, so either you are doing something wrong or you are doing something wrong.

[2016-07-24 19:46] StrayCargo commented on #9
@elix-x then perhaps you can help me understand what im doing wrong look back to seethe code for the blockstate file and model file

[2016-07-24 19:55] StrayCargo commented on #9
explain the parent cube solution

[2016-07-24 20:01] Elix-x commented on #9
[code]

[code]

[Srsly.](http://lmgtfy.com/?q=minecraft+block+models+parent)

[2016-07-24 20:03] JosephRymer commented on #9
ok do it in a sec thanks

[2016-07-24 20:20] StrayCargo commented on #9
it didnt load in the texture for some odd reason what are you naming the png on your end

[2016-07-25 07:37] Elix-x commented on #9
Let me check...

[2016-07-25 12:49] Elix-x commented on #9
@dpeter99 could you look at [that](https://github.com/AEModernMCPort/Applied-Energistics-2/issues/9#issuecomment-234799733) please? I kinda didn't get it to work....

[2016-07-25 19:45] StrayCargo commented on #9
ok @elix-x i looked into the texture for the 4kcrafting block and its not named wrong or referenced wrong just not pulling in the texture also why are the mrcrayfish models that are made with his model tool not working when we try to use them

[2016-07-25 20:09] 016Nojr commented on #20
Just to shoot in a question probably a bunch of people are wondering about, when are you hoping to have the first release?

[2016-07-25 20:27] StrayCargo commented on #20
@016Nojr probably not for quite some time

[2016-07-25 20:30] Elix-x commented on #9
They are working for us.

[2016-07-25 20:31] StrayCargo commented on #9
well then why is the one i made not working its was done the same as the others and should be working plus it causing me to crash

[2016-07-25 20:31] Elix-x commented on #20
@016Nojr my personal goal is till end of August... But if you know me, you know exactly what that means.

[2016-07-25 21:19] 016Nojr commented on #20
I dont know you @elix-x, but judging what you said, I guess it will probably be later? :p

[2016-07-26 02:45] drekryan opened #25 "ME Wireless Access Point hitbox is incorrect"
**Issue Description:** The hitbox for the ME Wireless Access Point is off center and incorrect.

**Actual Results:** The hitbox for the ME Wireless Access Point is shifted too far to the South-East

**Expected Results:** The hitbox would be farther to the North-West and centered on the rendered model

**Screenshots:**

![2016-07-25_22 35 09](https://cloud.githubusercontent.com/assets/1168966/17124

[2016-07-26 03:38] drekryan commented on #20
When its ready ;)

Good progress is being made but there are still some pretty big issues that need work so we are still a little ways away from it being "playable"

[2016-07-26 03:47] drekryan commented on #9
@JosephRymer Hard to say without being able to see it.

[2016-07-26 07:21] Elix-x commented on #9
Ok, this is even weirder.

[2016-07-26 07:26] Elix-x commented on #20
@016Nojr actually, it does not mean anything. It depends on many factors, and... It could be anywhere from first week of august (probably not) to halloween 2018 (probably not at all).

[2016-07-26 07:27] Elix-x commented on #25
@JosephRymer look at that please, while your models bug.

[2016-07-26 17:07] 016Nojr commented on #20
Most important part, it's being worked on! \o/

[2016-07-26 17:17] Elix-x commented on #20
Worked on??? Oh yeah... @dpeter99 is off, @JosephRymer's workspace is not working and i am splitting time between all my mods (PS: self-sarcasm).

[2016-07-26 17:24] dpeter99 commented on #20
@elix-x  I'm here and i will start working again, on the crafting units. (the .ignore files are still needed?)

[2016-07-26 18:32] Elix-x commented on #20
Not for rotations/facings (since https://github.com/AEModernMCPort/Applied-Energistics-2/commit/524dc52dd6d95f0980868beb5292ef2c10fc2330).

And i know you're here, i was kidding.

[2016-07-27 00:09] JosephRymer commented on #20
ahh but where you

[2016-07-27 01:23] StrayCargo commented on #9
what are your thoughts on it @dpeter99

[2016-07-27 15:37] dpeter99 commented on #19
Yeah. It is fixed in 6aeec56dc04773e68ee71832bc4887e0abc22bdc

[2016-07-27 15:37] #19 closed

[2016-07-27 15:41] dpeter99 opened #26 "More values needed for Json blockstates"
- [x] Vibration chamber  `active`
- [x] Groth Accelator `active`
- [ ] ME interface the `state of the arrow`

[2016-07-27 15:49] Elix-x commented on #26
Are values here, values that you need?

[2016-07-27 15:51] dpeter99 commented on #26
Nothing else for now.

[2016-07-29 20:59] StrayCargo commented on #14
Well currently had the texture for the 4k storage working and now its no longer working so im going to jump to something else since models seem to be so funky. Anything specific you want me to look at @elix-x

[2016-07-31 08:44] Elix-x commented on #14
I merged stairs already, so you may look into syncing and all that stuff... And try not to break it :D.

[2016-08-01 05:06] StrayCargo commented on #14
ahh ok

[2016-08-01 05:06] StrayCargo commented on #14
well im going to continue to look into models

[2016-08-01 18:51] StrayCargo commented on #20
@elix-x @dpeter99

So I have been looking into blockstates and models and am noticing  something that is troubling to me. The thing that is troubling to me is that we are using 2 different ways of making models either mrCrayfish method or another custom method. This will not be a problem now so much as it will later on down the line when we try to add more blocks. So my suggestion is that we focus

[2016-08-02 11:10] Elix-x commented on #20
As for me, everything works smoothly. I can do all of what you said and it works...

(The only thing not working correctly for me is my PC, but that does not belong here).

[2016-08-02 17:42] StrayCargo commented on #20
Alright well when you would you be available to help me re-setup my environment so that i cant get it working smoothly and not failing like it is right now

[2016-08-02 19:32] Elix-x commented on #20
*Me having to reinstall java, gradle and all the environments:*
-Soon™. Meanwhile, do you mind trying eclipse?

[2016-08-02 19:41] StrayCargo commented on #20
yes I will try eclipse to see if I will work better their is there a dark eclipse skin

[2016-08-02 20:17] drekryan commented on #20
@elix-x so were you able to get a texture working for the 4k Crafting Storage Block for example? I gave it a shot a couple days ago with it just loading nothing.

[2016-08-02 20:49] Elix-x commented on #20
@JosephRymer http://lmgtfy.com/?q=eclipse+dark+theme
No but seriously, you can put install theme that you find on marketplace (free) and beyond.

@drekryan When i tried, i couldn't. Then i couldn't try anymore yet.

[2016-08-02 21:01] JosephRymer commented on #20
@drekryan i will give it a try thanks

[2016-08-04 16:40] tenten8401 commented on #9
Just wanted to let you know that you're doing an awesome job at this so far. Thanks for working on getting AE2 to the modern minecraft versions!

On a side note, MrCrayFish has a tool that's super useful for modeling blocks, not sure if you use it or not. https://mrcrayfish.com/tools?id=mc

[2016-08-04 18:02] StrayCargo commented on #9
@tenten8401 thanks and we are actually using MrCrayFish model creator so

[2016-08-04 18:58] #18 closed

[2016-08-04 19:48] tenten8401 commented on #9
Also, forgot to ask. Is there any way I can help, even though i'm not that good at forge.

[2016-08-04 20:04] Elix-x commented on #9
You fork the repo and work on models or code.
All models to-do are here, all code things, here - #14.
(Note that i'm already working on cables & parts).

[2016-08-09 23:52] shartte commented on #9
@elix-x Did the stairs by copying the vanilla approach here: https://github.com/shartte/Applied-Energistics-2/commit/5e7a60a5461ae8ec163c2e6ba65974471ee6b654

But the feature handler you removed might actually be needed. If I don't change the ModelResourceLocation from "normal" to "inventory" in the AEBlockFeatureHandler, the inventory item models for stairs don't show up.

Regarding the stairs, h

[2016-08-10 04:47] StrayCargo commented on #20
The eclipse switch seemed to help and am hoping to start some real work on it this weekend I apologize for the latency of work I have been tied up with IRL situations

[2016-08-10 07:01] Elix-x commented on #9
@shartte
First, thanks for working on stairs.

Have you tried creating item model with stair's name and stair's block model as parent?
It should fix it.

`uvlock`. All of them.

[2016-08-10 07:51] shartte commented on #9
@elix-x Okay, I double-checked and it's actually exactly how the vanilla stone block stairs look:
![Vanilla vs Skystone Comparison](https://i.imgur.com/RRG8CHM.jpg)
Looks the same with uvlock too, so I guess it's okay.

Regarding the model: I did create the item model there, but to no avail. It didn't get picked up. It only picked it up once I changed normal->inventory. Vanilla does have an item m

[2016-08-10 08:02] Elix-x commented on #9
Let me check stair models (i'll grab one of models and see what's not working).

~~EDIT: Did you grab models from 1.8? Because from 1.9, stair models are a lot simpler.~~ Nevermind, for some reasons i thought they were moved to multipart models. Apparently they weren't.

[2016-08-10 10:20] Elix-x commented on #9
@shartte merge 3d1d2a3 into your fork (without overwriting models) and you're good.

[2016-08-10 12:36] ThomasSaunders commented on #14
I'm happy to start looking through the code issues, as I cannot model to save my life, and code is where I live @elix-x @JosephRymer , what is the highest priority?

[2016-08-10 12:38] shartte commented on #9
@elix-x Did you forget to commit IHasSpecialItemModel? I can't find it.

[2016-08-10 12:40] Elix-x commented on #14
Well, all things with check marks are things to do.
If you're good with net & netty & packets, you may want to work on synchronization (consider that it is a big chunk of work).

[2016-08-10 12:41] ThomasSaunders commented on #14
I'll start working on that then @elix-x .

[2016-08-10 12:43] Elix-x commented on #14
Thanks!

[2016-08-10 12:44] Elix-x commented on #9
@shartte `elix_x implements IForgetToCommitStuff` :D

[2016-08-10 15:11] shartte commented on #9
@elix-x Okay, after updating to your fix, the item models now look good without any changes. so thanks!

[2016-08-10 15:23] Elix-x commented on #9
@shartte Most of them at least.

@dpeter99 If you didn't undertsand yet, you now have to create block item model jsons for blocks with multiple states (for already existing and new ones).

[2016-08-10 15:42] shartte commented on #9
I am checking out the charger to get a feel for what's needed for a 100% working item/block combination. Is it normal that the crayfish models don't inherit from block/block? I think that actually causes them to require additional rotations to be specified in the item model.

[2016-08-10 16:01] Elix-x commented on #9
If that's true, @dpeter99 has things to do (check).

[2016-08-10 16:50] StrayCargo commented on #14
@elix-x @biggles2206 @dpeter99 I know this should be in Status updates but here is better. I have been doing serious looks over all of AE2 code for 1.7.10 and are port to 1.10.2 and realized some serious issues. we are ignoring classes that should not be ignored causing issues with stairs and not to mention the model creation is a mess of 2 different styles of models. We also have TODO tags with n

[2016-08-10 16:58] ThomasSaunders commented on #14
@JosephRymer that sounds sensible.  I have a 2 hour flight ahead of me now so I am happy to clean up code if that would be helpful.

[2016-08-10 17:23] Elix-x commented on #14
Blame pre-1.8 (aka original main AE team). Everything (almost) that concerns porting is tagged with 1.10-R/1.10.2-R and has description.

I (and apprently AE team) usually code out crucial code in case things go wrong... And when it works forget to remove it.

= All PRs + formatting inconsistency. Although i agree, that it should be reformatted correctly.

Will be 4 or 5 with arrival of cables :D

[2016-08-10 17:30] ThomasSaunders commented on #14
@elix-x @JosephRymer Do you want me to clean up code/Todo Tags ect or start ironing out the broken code that needs updating?

[2016-08-10 17:53] shartte commented on #9
Hm okay so either the charger model is flipped, or the TESR applies the rotation incorrectly. with facing=north, the charger is actually facing south and either way, the model doesn't line up with the bounding box. After flipping the model on th X axis, it apparently worked.
i'll look into it more before i open a PR.

[2016-08-10 18:12] Elix-x commented on #14
Well, important to-do tags are duplicated here (and 50% of them are balming broken syncing).
All broken code has to-do tags next to it.
So, well, it's kinda similar.

Meanwhile old commente uneeded code is not marked with todos or here. And there's quite a bit of it. (Especially old mod integration code. In theory, will have to be rewritten any way).

While you're here, please don't touch multipar

[2016-08-10 18:13] Elix-x commented on #9
I noticed that it had y=180 in blockstate file for some reason. Blame @dpeter99 ?

[2016-08-10 19:02] StrayCargo commented on #14
Heres my suggestion how about me and @biggles2206 start work on reformatting the code and leave your section alone the make a pull request to pull it to the main branch and then continue work on the TODO tags while were also formatting we would look over the TODO tags and determine of there necessary along with commented out code

[2016-08-10 19:19] shartte commented on #9
Okay so I think that y=180 in the blockstate fixes the incorrect model rotation, _BUT_ that will not work for the item, so the item is rotated incorrectly, unless you modify _all_ the rotations that would usually be inherited from block/block.
I am working on fixing the model by hand.
_edit_ And I finally figured out that I can reload the jsons with F3+T hehe.

_edit2_ Fixed it in #29

[2016-08-10 19:46] Elix-x commented on #14
Definetly! Just branch off of `1.10-rv3-rendering` and then PR when you're done.
Do you want me to add him to the team?

[2016-08-10 19:49] Elix-x commented on #9
Ok, well @dpeter99 is here for models... Poking @dpeter99 ...

Also, i agree, `F3+T` is extremely useful. Using it all the time.

[2016-08-10 20:19] shartte commented on #9
Added the missing item models for existing blocks in PR #30. Left those alone that dont have a model yet or require special rendering.

[2016-08-10 22:20] shartte commented on #9
Working on the controller right now...

Work in progress. No column detection yet. But at least it's animating, heh.
![Controller](https://i.imgur.com/D6Eb0l1.jpg)

_edit_: okay now with column detection. I still have to check against 1.7 to make sure it's visually equivalent.
![Columns](https://i.imgur.com/BFYHdVr.jpg)

blergh.... okay so having the controller lights be clearly visible at night s

[2016-08-10 22:41] ThomasSaunders commented on #14
I've forked the repo so I will do my work on there, if needs be I can merge it into a new branch.

[2016-08-10 23:32] StrayCargo commented on #14
@elix-x  yes i would love him a part of it

[2016-08-11 08:48] shartte commented on #11
I observed the same issue. I think it's the lightning effects that some tiles use.

Can you try making an empty world and only placing a Quartz torch. Just wait a bit and it should give you  the lightning effect which seems borked.

p.s.: It only appears for me if the torch is not facing UP though.

[2016-08-11 09:40] #23 closed

[2016-08-12 09:04] Elix-x commented on #14
- [ ] Reorganize properties fields & classes (@shartte, post #31).
- [ ] Quartz torch mirrored property (@shartte, post #31, according to [#31#issuecomment-239395781](https://github.com/AEModernMCPort/Applied-Energistics-2/pull/31#issuecomment-239395781)).

[2016-08-12 11:15] JoJoDeveloping opened #32 "Importing this into an IDE"
I have failed to import this reposity into either IDEA or eclipse.
At first I followed cpw's tutorial for IDEA, which worked to some extend (I do not have source sets, which might become a problem later), but the MC start sequence stopped with CB asking for MCP files, which I tried to provide, but it caused a crash (similar to this https://github.com/Chicken-Bones/CodeChickenCore/issues/26 ).
I th

[2016-08-12 11:32] Elix-x commented on #32
In github desktop, switch branch to 1.10.2-rv3-rendering.

[2016-08-12 13:45] JoJoDeveloping commented on #32
I am using this branch - I cloned with "-b 1.10.2-rv3-rendering"

[2016-08-12 14:19] Elix-x commented on #32
Then yous shouldn't have any chicken bones stuff. And problems.
(`gradlew setupDecompWorkspace eclipse` works fine for me, try without `refdeps`)

[2016-08-12 14:21] JoJoDeveloping commented on #32
Yeah, but there is no eclipse folder - or am I missing something because I do not know what folder/file I should select.

[2016-08-12 14:23] Elix-x commented on #32
Oh, download latest MDK and copy `eclipse` folder from there.

[2016-08-12 19:03] shartte commented on #9
Urgh. Getting the light-pattern on the controller "fullbright" is actually more involved than it should be. I couldn't find a good way to disable the lighting in a TESR, but i finally did get at least some visually acceptable results

![Fullbright Controller Lights](https://i.imgur.com/PA3Bjx2.jpg)

[2016-08-12 19:07] Elix-x commented on #9
Why are you using TESR???
You **can** use json models.

[2016-08-12 19:34] shartte commented on #9
How do you make a quad fullbright in the JSON models?
I certainly didn't find a way to do that. My initial version was using only JSON models, but I couldn't find a way to toggle off lighting.

p.s.: thinking about making a feature suggestion in forge to allow BakedQuads to skip the lighting step.

[2016-08-12 19:55] Elix-x commented on #9
[Sometimes it's very useful to look at commit history](https://github.com/AppliedEnergistics/Applied-Energistics-2/issues/2306#issuecomment-229051450): https://github.com/AEModernMCPort/Applied-Energistics-2/commit/a2cad01c01f773f2b2556edf2ad7e35c2ac7bfb9 and https://github.com/AEModernMCPort/Applied-Energistics-2/commit/84cfd4c9fcc943f381e580cbb1363b4f65a26112.

[2016-08-12 20:02] shartte commented on #9
Oh I do get it. I just think it should still be part of Forge itself, hehe.
I'll look into using it, although it's a LOT of complicated code to get fullbright quads to work.
Are there other blocks than the controller that use this feature? In the controller's case, using a TESR should actually be okay I think, given how few of them there are. It would also enable us to do a few better looking effe

[2016-08-12 20:04] Elix-x commented on #9
No, use models WHENEVER POSSIBLE.

It's not hard at all, all you have to do is: [example `uvl.json`](https://github.com/AEModernMCPort/Applied-Energistics-2/blob/1.10-rv3-rendering/src/test/resources/assets/uvlightmapjsontest/models/block/uvlblock.uvl.json).
<sub>_Hint: `.uvl.json` and `uvlightmap` do the trick._</sub>

[2016-08-12 20:06] JoJoDeveloping commented on #32
Ok it works now - thanks!

[2016-08-12 20:06] #32 closed

[2016-08-13 10:50] shartte commented on #9
@elix-x Okay I took a closer look at your solution and I think hooking that deeply into Forge's rendering with reflection will just lead to disaster later, heh.
I'll go with it and convert the models to it. However, I'll still try to find a way to get this functionality into Forge itself.
Where can I get an idea of the actual impact of TESR vs. FastTESR (which is what I am using) vs. IBakedModel?

[2016-08-13 11:13] Elix-x commented on #9
1. I already tested it many many times. It works.
2. We may consider PRing it into forge, but do we have to?
3. Rendering:
   - TESR - TE rendered each tick.
   - Fast TESR - TE rendered each tick **if it is far away**.
   - Model - rendered once per chunk render.

[2016-08-13 12:31] shartte commented on #9
I've submitted a PR for the controller using the UVL system in #33.
There are two things of note:
- Can't use UVL models as parents, it crashes because the ModelLoader isn't set yet in VanillaModelWrapper and I don't see an easy fix.
- The pre-baking of the lighting lost the quad's facing along the way, which leads to a crash in the CachingRotatingBakedModel. I fixed this by propagating the facing

[2016-08-13 12:34] ThomasSaunders commented on #14
I'm back in the UK now, so I will start organising the code now.

[2016-08-13 14:57] shartte commented on #9
Working on the actual quartz torch models now:
![Quartz Torch](https://i.imgur.com/z3f9GtJ.jpg)

Here's an example of how the style alternates based on placement, this mirrors the functionality from 1.7:
![Even/Odd Alternation](https://i.imgur.com/pshHYiN.jpg)

[2016-08-13 15:23] shartte commented on #14
@elix-x I've re-checked the behavior in 1.7 and there is no manual mirroring of the torch. It's all based on the x,y,z position in the world (it just does a modulo 2). I've implemented exactly that behavior for 1.10 as well using a new "ODD" property I've attached to BlockQuartzTorch (using getActualState).

What else would you like me to reorganize? Move AEBaseBlock.AXIS_ORIENTATION into QuartzPi

[2016-08-13 15:29] Elix-x commented on #14
@biggles2206

[2016-08-13 16:24] ThomasSaunders commented on #14
@elix-x I will do that now
-- EDIT --
Change completed, pull request made. #38 .

[2016-08-13 16:45] shartte opened #35 "TileEntity state not being updated on entering the game"
State that doesn't depend on BlockState / meta is not being updated when entering the game.

Example: The Vibration Chamber tile entity doesn't get it's "isOn" flag when entering the world, even though it should be true.

Cause: getUpdateTag / handleUpdateTag are not implemented in AEBaseTile. I have a fix ready that I am going to submit a PR for soon.

[2016-08-13 16:50] Elix-x commented on #35
Whole sync system is broken and needs fix/rewrite.

[2016-08-13 16:51] shartte commented on #35
The PR at least fixes the log-in sync issue for me tbh. The syncing on state-change (i.e. placing fuel into vibration chamber) worked before.

[2016-08-13 18:38] StrayCargo commented on #20
@elix-x  currently looking and different coding formats so we can change it to one format if everyone can post what format they would like so i can make a good choice that would be great

[2016-08-13 21:57] shartte commented on #11
I am looking into this right now. None of the custom particles seem to render correctly.

[2016-08-13 22:12] JosephRymer opened #41 "IDE Help, Helpers, Status updates, Rendering Bugs"
All IDE issues as well as people wanting to help and any rendering bugs can be posted here on this issue ticket. All answers from the community are welcome here
#20 and #15 are continued here

[2016-08-13 22:14] #15 closed

[2016-08-13 22:14] #20 closed

[2016-08-14 01:34] shartte commented on #41
Do you mean for the IDE auto formatter?
I personally just like the IntelliJ default format, which is very close to the default Java and Google Code styles.

[2016-08-14 03:09] StrayCargo commented on #41
@shartte we are trying to stray away from intellij and stick with one general IDE which is selected as eclipse

[2016-08-14 09:00] Elix-x commented on #20
@JosephRymer AE already has a standart format, [here](https://github.com/AEModernMCPort/Applied-Energistics-2/tree/1.10-rv3-rendering/codeformat).

[2016-08-14 09:01] Elix-x commented on #11
@shartte very possible, i only fixed compile issues on these and never tested.

[2016-08-14 09:03] Elix-x commented on #41
AE already has a code standart code format. For both eclipse and idea. Just import all your ide related files from [here](https://github.com/AEModernMCPort/Applied-Energistics-2/tree/1.10-rv3-rendering/codeformat), and you're good.

[2016-08-14 09:21] ProfessorStupid opened #45 "Build Testing/Continuous Intergration"
The build passing symbol in the Readme.md/Contributing.md is broken.  Should I create a new one and update it for proper status?

[2016-08-14 09:31] Elix-x commented on #45
Readme needs to be edited, including information concerning our port (for 50 people who compile this repo and for devs who want to contribute).

Edits to readme will probable be temporary until we merge into original repo.

[2016-08-14 09:37] elix-x opened #46 "Change of naming convention"
Followup of AppliedEnergistics/Applied-Energistics-2#2306.

1.11 will enforce lower case for names, so we should come up with new naming convention before it's too late.

A few ideas with examples for `tile.EnergyCell`:
1. Simply lowerace (`tile.energycell`).
2. Change uppercase chars with `_` + lowercase (`tile.energy_cell`).
3. n2, but we also swap _ and `.` (`tile_energy.cell`).
4. n2, and we a

[2016-08-14 10:18] Elix-x commented on #46
@yueh should probably tag you, as you won't read 190th comment in 2306 :D .

[2016-08-14 10:29] shartte commented on #20
@elix-x I only could have hoped, haha. I usually don't really care, the only thing is that the default AE format doesnt actually break up extremely long lines into more readable chunks.
Stuff like
setDefaultState( getDefaultState().withProperty(xxxx, yyyy).withProperty(wwww, zzzz) )

[2016-08-14 10:30] shartte commented on #41
Yeah I imported the code format. I think the only thing missing from it is a common JSON format indentation format.

[2016-08-14 10:41] dpeter99 commented on #46
Ok. but we also should find a convention for json models and textures.

[2016-08-14 10:57] shartte commented on #46
I am in favor of removing the prefixes. Usually, one is just looking for "the energy cell", which would make it easier if the file was just called blockstate/energy_cell.json for example.

I am indifferent about dashes vs. underscores, but going with the vanilla way (underscores) has the added benefit of being familiar to contributors who have looked at vanilla before.

Regarding the previous disc

[2016-08-14 10:58] dpeter99 commented on #46
yes I would prefer underscores as well.

[2016-08-14 11:36] drekryan commented on #14
Looks like on PR38 someone left a merge conflict in AEBaseBlock

[2016-08-14 11:37] shartte commented on #14
Yeah and the property still seems to be half-present in AEBaseBlock as well.

[2016-08-14 11:47] ThomasSaunders commented on #45
I'll sort a CI solution out.  If you want to tell me what needs going into the Readme also I will update it.

[2016-08-14 11:50] ThomasSaunders commented on #14
@drekryan It all seems to have merged nicely when I did it earlier.  I solved the conflicts offline after Github hlighted them offline.

@shartte Seems I overlooked that in my half asleep state last night.  I am fixing that now. :)

[2016-08-14 12:01] drekryan commented on #14
@biggles2206 awesome thanks for the fix

[2016-08-14 18:15] Elix-x commented on #20
No, AE format enforces a lot of whitespaces, does not allow usage of no-curly brackets statements (`{}`) and forces them to go to new lines.
Eg:

[code]

===>

[code]

[2016-08-14 18:19] shartte commented on #20
How does that relate to the method-chaining line breaks? I fully agree with what you said, but what I was talking about, was this:

If I apply the code formatter, it turns this:

[code]

into this:

[code]

[2016-08-14 18:21] Elix-x commented on #41
Back at the day, jsons weren't needed. So we will go with standart format.

[2016-08-14 18:30] Elix-x commented on #46
@dpeter99 same naming convention will go for everything.

@shartte yep, weird. I know that different mojangstas worked on these. Don't know why they didn't agree <sub><sup>¯_ಠ∀ಠ_/¯</sup></sub>.

[2016-08-14 18:36] Elix-x commented on #45
@biggles2206 which solution does original repo use? Must we use it, or can we use a different one? Asking @yueh. <sub>_I would have already attached a solution if i knew answers to these..... And had time._</sub>

[2016-08-14 18:37] StrayCargo commented on #41
@elix-x ok so i got eclipse neon java running but i cant get the TODO tags to show up

[2016-08-14 18:44] shartte commented on #45
Apparently the old one runs on a private TeamCity instance. (Generally not a bad choice).

From other open source projects, I can generally recommend the free AppVeyor service, which builds on Windows. I've had no experience with Travis et. al.

[2016-08-14 18:57] Elix-x commented on #20
What IDE are you using? Because eclipse does not do that for me.

[2016-08-14 19:04] Elix-x commented on #41
Referesh workspace, wait for compile to complete and you should be good.

[2016-08-14 19:05] shartte commented on #20
@elix-x I am on IntelliJ. I imported the settings jar file. If it's not part of the official coding style, I'll fix the jar with regards to that specific issue.

[2016-08-14 19:07] Elix-x commented on #20
It seems to be an issue, as original team members mainly used eclipse.

Hint: http://lmgtfy.com/?q=eclipse+code+format+to+idea+code+format.

[2016-08-14 19:15] StrayCargo commented on #41
@elix-x i did that still not showing up in the tasks menu also @elix-x you should join the slack team so we can all communicate easier and be on the same page

[2016-08-14 19:19] shartte commented on #41
There is a Slack team? :P

[2016-08-14 19:19] StrayCargo commented on #46
@elix-x @dpeter99 @shartte we need to also account in the fact that 1.11 might lead to minecraft going to C++ or C# as far as naming convetions

[2016-08-14 19:20] dpeter99 commented on #46
Not really they have released a snapshot. and it is still Java

[2016-08-14 19:21] Elix-x commented on #46
You have gone too far, snapshots are in java...

Or were you joking?

[2016-08-14 19:21] dpeter99 commented on #41
by sending a email address I can invite you

[2016-08-14 19:22] StrayCargo commented on #46
well i suppose they might be staying java for now but still need to keep that in mind

[2016-08-14 19:22] StrayCargo commented on #41
@shartte whats your email i will or @dpeter99 can invite you

[2016-08-14 19:33] yueh commented on #46
`_` has the issue of being hidden when someone uses underline as font style. For example to indicate final static strings or something similar. In these cases it is impossible to distinguish between ` `and`_`.

Also we certainly want to reuse the same texture for the wiki and it is not recommended to use `_` for filenames. So we had to maintain different ones or at least some script to rename them

[2016-08-14 19:38] StrayCargo commented on #46
@elix-x @dpeter99 @shartte @biggles2206 @yueh I think if were going to switch the naming convention to go with what Botania is doing as i have messed with it in 1.10.2 and it works great https://github.com/Vazkii/Botania

[2016-08-14 19:48] Elix-x commented on #46
@yueh Well, vanilla uses `_` and had no issues so far. But because we're going to use names in many different places, we may replace it with `-`.

Conflicts will be resolved when occur, and when one does, first registered takes the name and latter recieve type suffixes. And because we register blocks than items than parts, we will result with

@JosephRymer if they switch to C, modding will have to

[2016-08-14 19:52] StrayCargo commented on #46
@elix-x absolute right I also think we should go with option 1 as far as naming convention goes

[2016-08-14 20:05] shartte commented on #41
@JosephRymer You can see my E-Mail in the git commit history :)

[2016-08-14 20:10] dpeter99 commented on #41
where?

[2016-08-14 20:12] Elix-x commented on #41
@shartte you hid it, as i and @dpeter99 did.

[2016-08-14 20:16] shartte commented on #41
@elix-x it's still visible in the actual git commit log on the console (git log). Yours is too.

[2016-08-14 20:40] yueh commented on #45
CI is currently completely unnecessary.

The teamcity is certainly one we should get rid of. It currently has no need. The best idea would probably be to replace it with travis at some point for the build status. But no artifacts.

I will most likely schedule some time to do some cleanup for my own CI server, which built/checked PRs.
This one does a bit more, because it additionally uses sonarqube

[2016-08-14 20:53] StrayCargo commented on #41
@elix-x is there a general format we are following for making of models

[2016-08-14 22:06] StrayCargo commented on #41
@elix-x you need to join us on slack please so we are all on the same page

[2016-08-15 09:35] ThomasSaunders commented on #45
@elix-x @yueh I was thinking of just setting up a travis system to check builds.  I've used it before, and I've used it before and it definitely does a good job, particularly for free!

[2016-08-15 12:52] yueh commented on #45
While travis itself is fine, it is not perfectly suited for minecraft mods.

For example there is at least one jdk version, which produces broken builds. So while the CI will say everything is fine, using the mod is actually impossible.
Thus it currently can only say `Build: success, Running: Maybe not`

Futher to really make use if it, we would need unit and maybe integration tests. Something imp

[2016-08-15 12:57] shartte commented on #45
The main branch still has compile errors since commit 8882c16cbf3dde9bc339a80c8032eff2b1278154, so even a simple compile check might add value over having nothing. And I fully agree, having the automated build at least fully start a server with the mod and see if it successfully comes up would be great.
The only real problem I see is detecting hangs and shutting the server down once its actually s

[2016-08-15 13:05] yueh commented on #45
Server is not enough. It might be a clientside issue. Or forge not stripping `@Optional` or `@SideOnly`. So it might even be an issue with another mod present or absent.

Just adding a `.travis.yml` is probably fine. Iirc buildcraft uses it, maybe use it as example. But I would not change the readme for now. And do not forget to enable it for PRs.

[2016-08-15 13:08] shartte commented on #45
Oh yes, I was not thinking about collecting artifacts. The compile checks are more important to me at the moment. And yes, starting a client would also be nice, but could be more troublesome on an automated CI system. AppVeyor might have an advantage here since it's Windows based.

[2016-08-15 13:21] tenten8401 opened #53 "AE2 cannot be compiled in it's current state"
So what's up with this little line of code here? I'm not sure about the story behind it but is it supposed to be here or not? I can't currently compile with it and simply removing it doesn't work either, so I'm willing to bet something needed to be fixed.

https://github.com/AEModernMCPort/Applied-Energistics-2/blob/1.10-rv3-rendering/src/main/java/appeng/block/AEBaseBlock.java#L74

[2016-08-15 13:28] mindforger commented on #53
somebody had a conflict while merging files (probably with another tool) and did not resolve it properly befor checking it in, blame the uploader i guess

[2016-08-15 13:28] tenten8401 commented on #53
_sighs_

[2016-08-15 13:30] mindforger commented on #53
https://github.com/AEModernMCPort/Applied-Energistics-2/commit/8882c16cbf3dde9bc339a80c8032eff2b1278154#diff-e1c5de4585d02f284de07ddbdec50b42

it's been seen but not resolved yet XD

[2016-08-15 13:31] tenten8401 commented on #53
So reverting that by hand would in theory fix the issue?

[2016-08-15 13:32] mindforger commented on #53
as long as you leave the
`public static final PropertyEnum AXIS_ORIENTATION = PropertyEnum.create( "axis", EnumFacing.Axis.class );`
in there and remove the other two lines YES
honestly, i envy you guys ... i wish i got some more "stupid" job so i am not always that mentally burned out after work and contribute actual code, more than just managing issues :)

[2016-08-15 13:41] Elix-x commented on #53
Will be fixed in my next commit (will come in 3 hours max).

[2016-08-15 14:07] ThomasSaunders commented on #45
I have access to a server that I could setup TeamCity on instead if that would help

[2016-08-15 16:20] #53 closed

[2016-08-15 20:35] StrayCargo commented on #41
@AEModernMCPort team members working on the repo please try to use slack for development conversation so we can keep github clean on issues

[2016-08-16 07:33] dpeter99 opened #56 "Crash"
@elix-x  I don't know what happened just synced the local repo. 😞
[code]

[2016-08-16 07:42] dpeter99 commented on #56
Removed my testing resource pack, but now none of the block/items/creative tab is loaded.

[2016-08-16 08:02] Elix-x commented on #56
I'll check what's up again.

[2016-08-16 08:48] shartte commented on #56
I dont have a problem like that hmmm...

[2016-08-16 09:05] Elix-x commented on #56
Try closing your workspace, resyncing github and retrying.

[2016-08-16 09:45] RedNesto opened #57 "Tiny TNT not deleted when activated by an explosion"
#### How to reproduce:

Place two TinyTNT and make one of them explode on the other. Same if the explosion is from a classic TNT.
If we place another TinyTNT after, more and more Primed TinyTNT are spawned and can cause a crash.

Minecraft 1.10.2
Forge 12.18.1.2050
AE2 version: as of [this commit](https://github.com/AEModernMCPort/Applied-Energistics-2/commit/63f426336b57cbe7896cd8a2d3805ddf46f5b7

[2016-08-16 09:48] Elix-x commented on #57
Should be an easy fix (will come in next commit today).

[2016-08-16 12:29] yueh commented on #46
I am currently missing some more in depth information to really make a decision/recommendation.

Getting rid of the type as part of the id is probably a good idea to make it easier. so just something like `ae:energycell` or `ae:assembler`. But for the translations we should probably keep something like `interface.block` and `interface.part` with the general pattern of `thing.variant` (or `thing_va

[2016-08-16 12:31] shartte commented on #46
@yueh

That's fine and I support this. The unlocalized name and the registry name are separate.

I also full agree with the rest of your comment. Especially having an API artifact published somewhere would be awesome.

[2016-08-16 12:37] yueh commented on #45
I still find TeamCity really bloated for just a CI environment. The whole thing kinda forces a vendor lock-in with jetbrains upon you including youtrack and what not.

There is also no reason not to use multiple services. Like have it built simultaneously by travis, shippable and drone.io. Getting a jenkins is also extremly easy, cloudbees or openshift offer them for free.
Pretty much any external

[2016-08-16 12:45] Elix-x commented on #46
Well 1.9 worlds and mods can be run on 1.10. This might repeat with 1.11, but considering lowercasing - probably not (unless forge creates auto alias system).

Recently, i heard that it's a good idea to keep modid in locale, to prevent conflicts with other mods.

Also, couldn't they use same locale? `interface.block` and `interface.part` are both interfaces (and in 1.7.10 both translate as "Interf

[2016-08-16 12:55] yueh commented on #46
1.8+ is a bit better for keeping your world. But there are already enough mods locked to 1.8.9, 1.9 or 1.10. So updating the whole world without losing something is very unlikely. And I would not hope on forge providing an alias system. At least not within the first year after 1.11 is released.

I am just too lazy to type the full translation string with something like `appeng.common.interface.blo

[2016-08-16 13:31] dpeter99 opened #58 "Vibration chamber progress bar"
When moused over i get a blue tint to the surroundings.

[2016-08-16 13:32] dpeter99 commented on #56
Fixed by re downloading.

[2016-08-16 13:32] #56 closed

[2016-08-16 13:32] Elix-x commented on #46
Mods locked to 1.8.9 will stay there as 1.7.10 ones. But 1.9+ mods can very smoothly move with forge (as i said, 1.9 mods can be run on forge 1.10 in 96% of cases), mainly because of mojang's decision ot put smaller updates more often .

No. But in this case, it's also logical to use registry name to not confuse people.

Well, we have scripts for that ;) .

And after all, team memebers are not goi

[2016-08-16 13:34] Elix-x commented on #58
In GUI?

[2016-08-16 13:34] shartte commented on #58
Yeah I've noticed the same thing in the UI

[2016-08-16 14:01] Elix-x commented on #58
Ok. It's back.

[2016-08-16 22:05] shartte commented on #9
Currently working on sky meteor compass.
It's more work than it should be, but I think it's working out.
The hardest part by far is getting it to animate while held in hand. The animation itself is done using a custom IBakedModel and an unlisted property for the rotation.
When put on the ground, the compass will also show the direction to the next meteor correctly. Tested this, even though only th

[2016-08-16 22:08] yueh commented on #9
Why is it not a perfect loop?

[2016-08-16 22:09] shartte commented on #9
Because I am bad at making videos? :P

_edit_: Fixed it. I also fixed that the rotational speed wasn't the same for in-hand and on-ground when spinning.

[2016-08-16 23:58] Skaronator commented on #9
6/10 Loop, the background is porting.. oh wait thats github not reddit :lollipop:

[2016-08-17 07:57] yueh commented on #9
We need 2 speed settings for the rotation. A slow one to show "nothing nearby", which is also the only animation allowed for non crafted ones (JEI itemlist etc) and a fast spinning one for "here be meteors"

[2016-08-17 07:58] shartte commented on #9
@yueh Ah that makes sense. Should be easy enough to do. I'll either make a follow up PR or amend the current one.

[2016-08-17 15:34] MrDiamond123 opened #61 "README needs to be updated"
The title says all

[2016-08-17 15:43] #61 closed

[2016-08-17 16:10] MrDiamond123 commented on #61
Does the Build Steps work?

[2016-08-17 16:34] Elix-x commented on #61
This is a fork, i don't think they are supposed to.

[2016-08-17 16:40] MrDiamond123 opened #62 "setupDecompWorkspace Stops at decompMC"
I did the steps from [https://github.com/MinecraftForge/ForgeGradle/issues/324](url)
Edit: To Fix It Not Stopping

[2016-08-17 16:41] MrDiamond123 commented on #62
Note: I'm running linux but that shouldn't effect anything

[2016-08-17 16:42] MrDiamond123 commented on #61
Thats why it needs to be updated

[2016-08-17 16:43] MrDiamond123 commented on #61
https://github.com/AEModernMCPort/Applied-Energistics-2/issues/62#issue-171704859

[2016-08-17 16:44] dpeter99 commented on #62
https://www.youtube.com/watch?v=4PFRS8U-yxM

[2016-08-17 16:45] MrDiamond123 commented on #62
I use eclipse

[2016-08-17 16:46] dpeter99 commented on #62
😞

[2016-08-17 16:46] MrDiamond123 commented on #62
https://github.com/AEModernMCPort/Applied-Energistics-2/issues/61#issue-171689196

[2016-08-17 16:47] MrDiamond123 commented on #62
Should I make it 3g not 2g?

[2016-08-17 16:47] MrDiamond123 commented on #62
is this right (2nd way) `GRADLE_OPTS=-Xmx3G`

[2016-08-17 16:50] MrDiamond123 commented on #62
Now Trying `GRADLE_OPTS="-Xmx3G"`

[2016-08-17 16:52] MrDiamond123 commented on #5
How you fix it

[2016-08-17 16:52] MrDiamond123 commented on #62
https://github.com/AEModernMCPort/Applied-Energistics-2/issues/5

[2016-08-17 16:55] MrDiamond123 commented on #62
Now gradlew build is not working

[2016-08-17 17:09] MrDiamond123 commented on #62
Can Someone Just Release The Jar

[2016-08-17 17:09] #62 closed

[2016-08-17 17:12] MrDiamond123 opened #63 "Someone Release Built Jar For The Mod"
For the people that aren't having a good time with ForgeGradle

#62

[2016-08-17 17:13] Elix-x commented on #61
By build steps, you mean `gradlew build`?

[2016-08-17 17:14] Elix-x commented on #63
You should not setup workspace, JUST run `gradlew build`. That's all. And i know that it works.

[2016-08-17 17:14] #63 closed

[2016-08-17 17:15] MrDiamond123 commented on #61
Yes.
Its not that simple though

[2016-08-17 17:17] MrDiamond123 commented on #63
That Doesn't Work Like That
sudo ./gradlew build says BUILD FAILED

- What went wrong:
  Execution failed for task ':compileApiJava'.

- Try:
  Run with --stacktrace option to get the stack trace. Run with --info or --debug option to get more log output.

BUILD FAILED

Total time: 17.876 secs

[2016-08-17 17:25] MrDiamond123 commented on #63
Without sudo
1st error: I need daemon on
with daemon: ERRORS ABOUT DAEMON

[2016-08-17 17:26] MrDiamond123 commented on #63
https://gist.github.com/MrDiamond123/859662e9947dc2d25d70144d7b969010

[2016-08-17 17:26] Elix-x commented on #63
Do you have JDK installed?

And you're on linuex, right?

[2016-08-17 17:27] MrDiamond123 commented on #63
yes and yes

[2016-08-17 17:28] MrDiamond123 commented on #63
Going to try reinstall it

[2016-08-17 17:29] MrDiamond123 commented on #63
Look up

[2016-08-17 17:29] MrDiamond123 commented on #63
In the comments

[2016-08-17 17:30] MrDiamond123 commented on #63
What is tools.jar

[2016-08-17 17:34] MrDiamond123 commented on #63
Do you have a built jar of the mod?

[2016-08-17 17:39] Elix-x commented on #63
You should run with daemon. And when you run with daemon, you recieve an error. Look closely:

<nbsp>
Check permissions of files.

[2016-08-17 17:40] MrDiamond123 commented on #63
k

[2016-08-17 17:47] MrDiamond123 commented on #63
I'm running with sudo

[2016-08-17 17:47] MrDiamond123 commented on #63
I need tools.jar

[2016-08-17 17:49] MrDiamond123 commented on #63
FOUND PROBLEM: I need JDK not OpenJDK

[2016-08-17 17:51] MrDiamond123 commented on #63
@elix-x If anyone have this problem tell them to make sure they have JDK not OpenJDK

[2016-08-17 18:17] MrDiamond123 commented on #61
#64

[2016-08-17 18:21] MrDiamond123 commented on #61
I updated it ;)

[2016-08-17 18:26] MrDiamond123 commented on #45
https://github.com/AEModernMCPort/Applied-Energistics-2/pull/64
This Might Help

[2016-08-17 18:38] MrDiamond123 commented on #63
@elix-x can you plz merge my pull request?

[2016-08-17 20:08] shartte opened #65 "Energy Cell have the same Texture as Dense Energy Cells"
Energy and Dense Energy Cells currently have the same texture:
![1.10](https://i.imgur.com/S6bfHag.jpg)

This is how it looks in 1.7.10 (dense cells on the right):
![1.7](https://i.imgur.com/sZVxyXN.jpg)

[2016-08-17 20:27] dpeter99 commented on #65
I will look into this.

[2016-08-18 11:59] Elix-x commented on #14
- [ ] Models made in #48 and all related will have to be redone. Vanilla now has a way for items to use blockstate json specifications. Check bow for example. @shartte i might revert #48 and all releated, so don't freak out.

[2016-08-18 17:24] shartte commented on #9
Working on the drives. Progress:
![Drive1](https://i.imgur.com/6XKMXc8.jpg)
![Drive2](https://i.imgur.com/4hEBpmK.jpg)

I am using a JSON model per cell-state (off/on/types full/full) and translate it to the correct drive slot position in a custom IBakedModel that composes the cells and the base drive into a model based on an IExtendedState. Looking good so far.

[2016-08-18 17:41] Elix-x commented on #9
_I love how change of naming convention and problems with UVLLoader can cause me to postpone cables with systems that allow extremely simply straight forward implementation of what you're doing :D ..._

[2016-08-18 17:48] shartte commented on #9
It is not exactly _hard_ to do.

[2016-08-18 18:10] dpeter99 commented on #9
Do the drives have separate models?
So we can change them to look like the original drive.
Because @yueh has said that for the core mod we should keep it that way.
But I would still love to use this kind of model.
So if it has separate models than the code would just place the model's origin to a place.
Ad than it could be a flat plane offsetted by a bit(0.001) forward so it would look like the or

[2016-08-18 18:12] shartte commented on #9
Yes, there's a drive_base JSON model that is just the drive without any cells.
Then there's the JSON models for the cell states.
I think what you are describing would be possible, yes.

[2016-08-18 18:29] yueh commented on #9
The best idea would probably be make cells 6x6x2 pixel large and put matching slots for them inside the drive (so 6px deep, not the full drive).

If someone then wants inset drives, they can simply make a 6x5x2 model for them.
Or if the want 5x5x2 them same and adjust the drive model for 5 wide slots.
That might get a bit more work to get right, as translating them is not that easy as they need to

[2016-08-18 18:36] shartte commented on #9
@yueh That's almost how it works. The baked model only _relatively_ transforms the X and Y position of the cell model. So if one wants to have the cells flush with the front, that can be changed in the JSON model of the cell by changing the Z position of the cell "cover".
But okay. I see that you want them to be flat by default so I'll see how I can do that while maintaining the ability to make th

[2016-08-18 18:40] Elix-x commented on #9
No. They have resource packs for that.

Remove all faces except for `north`. Done.

[2016-08-18 18:52] dpeter99 commented on #9
![panel](https://cloud.githubusercontent.com/assets/7725817/17786479/4affeb1a-6585-11e6-8592-ef01141e64ca.png)
![block](https://cloud.githubusercontent.com/assets/7725817/17786480/4b1fe5e6-6585-11e6-9055-67bd71bd5f88.png)

I was thinking something like that the flat one should be set to only (0.001) more on the front.
Than we set the drive to be the normal texture with the empty slots.

[2016-08-18 18:55] Elix-x commented on #9
@dpeter99 no need. Simply delete 5 faces in model file and you are good.

[2016-08-18 18:55] StrayCargo commented on #9
currently working on crafting storage 4k only problem is its going to be a multipart not that well versedin multipart yet so any ideas @elix-x @shartte

[2016-08-18 18:57] shartte commented on #9
That's not how that works, elix-x. But I think I have a neat solution. I am going to introduce a model for the empty slots. It can be empty to achieve "depth" or it can be a black quad to get the old effect.

[2016-08-18 19:16] StrayCargo commented on #9
So @shartte do you have model for multi parts like the ME controller i can use the same one to do the storage crafting blocks

[2016-08-18 19:17] shartte commented on #9
@JosephRymer The controller is not _really_ a multipart. It's more like a connected texture to be honest.

[2016-08-18 19:18] yueh commented on #9
Something like 0.001 is really hacky and probably starts issues like z-fighting with other blocks etc.

Btw. as this issue gets pretty long. You can split up issues into multiple ones and the checklist will inherit the issue state when the subissue is closed.

[2016-08-18 19:21] StrayCargo commented on #9
well what if we make it a multi part it might load easier then

[2016-08-18 19:50] shartte commented on #9
Okay, minimal model changes, and no overlapping faces that could cause z-fighting:
![Flat Drive](https://i.imgur.com/ZNhxmf0.jpg)

[2016-08-18 20:50] shartte opened #67 "Entropy Manipulator not working"
The entropy manipulator does nothing when it's being used.

See the supposed features here:
http://ae-mod.info/Entropy-Manipulator/

[2016-08-19 10:49] #46 closed

[2016-08-19 11:37] yueh commented on #46
I am not sure about this. There are way to many issues with.

1) Prefixing a class with `Block`, `Tile` or `Item` is just stupid. Yes vanilla uses it, but there is no reason to follow bad conventions.
If you are already in the blocks package, you do not want to constantly read `blocks.Block`, why even use a package at all?
When you actually need to resort to a higher `authority` about naming conve

[2016-08-19 11:44] Elix-x commented on #46
I did not all the rename classes (i renamed only a few), they were like this before. And because we will eventually move to seprate internal modules, why to rename them 2 times?

Items are registered after blocks. And when we add new block, we make sure that we register it in the end. Registry can be called single element FIFO.

Which one? (Yes i did forget to remove `getOld` method from extractor

[2016-08-19 11:54] #65 closed

[2016-08-19 12:05] yueh commented on #46
Because they will usually get a different name the second time. No longer `FluixBlock` or `BlockFluix`. Just `fluix.Block`

The current order is irrelevant. IDs are simply nothing which can ever depend on the insertion order. Changing it to multiple modules might change the order from `blocks > items` to `Module 1 blocks > Module 1 items > Module 2 blocks > ...`. It is just to easy to forget that

[2016-08-19 12:19] Elix-x commented on #46
Well, first we are not even in official alpha state, and yes, for 50 people that compile AE on daily basis, all worlds just went bye-bye, but that's why we don't publish any kind of jars yet.

So whenever module split will come (in theory, soon actually), we will decide if we want to prefix reg names with module's name. But wouldn't module by that time be a child mod with a different modid distrib

[2016-08-19 12:26] yueh commented on #46
An option, but certainly not a good one. Simply keep everything under `ae:`. No need to let the players try to remember if fluix crystals are now part of `ae-deco`? or was it `ae-common`? or `ae-functional-base`. It is not like vanilla, that the mod prefix is optional.

The child mods should just be to make it easier for the devs to maintain it and for example better delegate porting a specific mo

[2016-08-19 12:30] Elix-x commented on #46
Why should they? If we split AE internally into child mods, but still ship a single jar, that won't change much (players using `/give` will be affected, but because they use `/give`, they'll find the way).

[2016-08-19 14:43] yueh commented on #46
It is not just `/give`. The whole recipes depend on it.

Also it means we need a decision about the childmods NOW. Before anything else is done.
We cannot push that to some time later as it will destroy worlds. With all the work required by it and you were quite opposed against some nearly trivial change to some blocks because it would waste a bit of time. Planning and refactoring it now will cert

[2016-08-19 15:08] Elix-x opened #70 "Structure changes"
_Followup of naming convention changes (https://github.com/AEModernMCPort/Applied-Energistics-2/issues/46#issuecomment-241037526)._

Structure of AE should be decided, and more specifically, modularity.
So we can either go with:
1. No modularity (current).
2. Internal single mod modularity (everything is split into modules, modules are loaded from core module, single jar).
3. Internal child mod mo

[2016-08-19 15:09] Elix-x commented on #46
Followed up in #70.

[2016-08-19 15:52] yueh commented on #70
Note that this is in no way a final decision and it is in general something which can be changed during the development as long as we do not entrench on one option.

The only requirement I currently see is 1 or 2 layers are missing in the current package hierarchy.
There is really no way currently to do something like `appeng.{ core, common.{ blocks, tiles, items }, services, decorative, client, s

[2016-08-19 16:03] drekryan commented on #70
The only thing I can see being able to be "split off" into a module is the decorative blocks and maybe a few tools. I don't think there is even enough cases where making a module is worth it. Having just one module and the core doesn't really give any benefit. I just don't see the point unless there would be many more cases which make since to be separate but the core mod relies on many of it anyw

[2016-08-19 16:08] shartte commented on #70
I think go with something between 1 and 2.
As a user of AE2, I don't want to mess with individual modules. It's more mental gymnastics ("do I need this module or what?") for very little gain, given that AE2 doesn't add hundreds of fluff items anyway.
Improving the package structure of the project should always be an ongoing goal. If we use static registry names (which we should do anyway to avoid

[2016-08-19 16:20] Elix-x commented on #70
No. Forge does not like modids < 4 chars. But `appeng2` will work.

[2016-08-19 16:23] shartte commented on #70
@elix-x Also good, and less ambiguous than ae2, you're right.

[2016-08-19 16:38] yueh commented on #70
If we change it to modules/mods it is pretty much:
- API
- Core
  - Config
  - Recipes
- Decorative
  - Blocks
  - Stairs
  - Slabs
- Basic Tools
  - Quartz tools
  - Grindstone
  - Misc tools like the charged staff, entropy manipulator matter cannon
- Worldgen
- ME
  - ME Network/Grid
  - Blocks/Parts
- Crafting (Reasonably large/complex to justify a module/mod)
- Server
- Client
- Misc stuff

Ju

[2016-08-19 16:45] shartte commented on #70
What do you mean by overview of all? There currently is none, really. By setting them more explicitly you gain discoverability from a source code perspective in two ways:
Anyone curious can do a find-usages search for setRegistryName, since it HAS to be called at some point. Or someone can just search for the registry name they see ingame and find where it's coming from. That is not possible right

[2016-08-19 16:45] drekryan commented on #70
Wait I'm kinda confused if World Gen for example as a module. How would the "core" work without such feature. If I am thinking the correct modularity here where individual modules could be enabled or disabled. Say you "disable" to the Worldgen module preventing Meteors and Certus Quartz Ore from generating. Isn't the ability the get Certus Quartz a requirement for the core mods recipes? I don't se

[2016-08-19 16:46] Elix-x commented on #70
I tottally agree. And if we split them into different mods (deco & tools & misc could be packed as misc mod),
- Core
  - API
  - Core
    - Config
    - Recipes
  - Worldgen
  - ME
    - ME Network/Grid
    - Blocks/Parts
  - Crafting (Reasonably large/complex to justify a module/mod)
  - Server
  - Client
- Decorative
  - Blocks
  - Stairs
  - Slabs
- Basic Tools
  - Quartz tools
  - Grindstone

[2016-08-19 16:47] shartte commented on #70
Having "misc" as a module is just not very good naming, sorry.

@drekryan Think in terms of skyblocks where for example worldgen is not required.

[2016-08-19 16:51] yueh commented on #70
The API has to reach out to pretty much any module. So placing them below core is not really correct.
Decorative and basic tools also depend on the recipes and config. But not on the me network or server/client.

@shartte `misc` is more the missing modules. Like version checker, item/block export, the debug tools.

[2016-08-19 16:57] shartte commented on #70
Okay, that's fair enough.

Just to clarify here, are we talking packaging structure?
The more interesting point there would be to decide whether we do functional or technical on the first level.
Right now, it's technical (block/items/part/helpers/tile). I personally prefer functional (the user's perspective so to say) because it puts the stuff that actually interacts with each other closer togethe

[2016-08-19 17:02] Elix-x commented on #70
@yueh so more like this? Wouldn't i be more convenient to have API/module?
- API
- Core
  - Core
    - Config
    - Recipes
  - Worldgen
  - ME
    - ME Network/Grid
    - Blocks/Parts
  - Crafting (Reasonably large/complex to justify a module/mod)
  - Server
  - Client
- Decorative
  - Blocks
  - Stairs
  - Slabs
- Basic Tools
  - Quartz tools
  - Grindstone
  - Misc tools like the charged staff,

[2016-08-19 17:23] drekryan commented on #70
@elix-x I like the way that structure looks. Makes more sense to me. +1

[2016-08-19 17:55] shartte commented on #70
I am not sure about a few points, but generally agree.

API -> That should go into a separate gradle module so it can be produced as a separate jar and published to Maven easily.

Core -> Core seems redundant. I would move everything from the first Core package up one level.

Client / Server -> What do these contain? I would move rendering related stuff to where it is used. I.e. we have a special

[2016-08-19 18:05] Elix-x commented on #70
There's no server specific stuff, but there's client specific. But it should go with the module.

I don't agree on that part. Client only stuff should still be in `client` package (we do NOT want to load it accidentaly on server).

[2016-08-19 18:07] drekryan opened #71 "Light Detector crashes the world"
**Issue Description:** Placing the Light Detector block will immediately crash the world.

**Actual Results:** The block causes the world to crash

**Expected Results:** The block would be placed without the world crashing

**Version:**
- Minecraft 1.10.2
- Forge 12.18.1.2050
- Java 1.8.0_102 (Java 8)

[2016-08-19 18:10] shartte commented on #70
I don't think the classes being in the client package really stops anyone from using them.

[2016-08-19 18:14] yueh commented on #70
It still has other dependency issues.
- API
  - _Depends on nothing_
- Core/Lib
  - _Depends on API/Provides API implementation_
  - Config
  - Recipes
    - Depend is a bit tricky here. Most modules depend on the recipes existing and being registered to forge. But no real code dependencies.
  - Registries
- Decorative
  - _Depends on Core/Config, Core/Recipes, Core/Registries_
  - Blocks
  - Stai

[2016-08-19 18:23] shartte commented on #70
Regarding API: I am fine with the source set approach. The proposals so far didn't mention it so I wanted to make sure it's not getting moved into src/main.

Although you mentioned not liking it earlier, I'd not like to go with calling the class just "Block" since that really screws up IDE navigation (Open Type) when you have 100 classes that are all just called "Block".
I know it's violating the

[2016-08-19 18:32] yueh commented on #70
In this case violating it is probably ok. But dropping the suffix is not an option. Java does not like packages or classes being named `Interface`, so if it should be consistent with every `Block` having `Block` as suffix.

I have only consider it as discussion about the package structure, not the gradle part. That is certainly an option later on. Like moving decorative into its own source set and

[2016-08-19 19:17] shartte commented on #70
I don't even think that's necessary, but as you said, we can investigate it later anyway.

[2016-08-19 20:15] shartte opened #72 "Remaining non-compliant filenames"
I've run a short script on all files in our assets:

[code]

[2016-08-19 20:19] Elix-x commented on #72
And what is considered invalid character?

[2016-08-19 20:20] shartte commented on #72
[code]

That seemed like the convention you came up with in #46

[2016-08-19 20:32] Elix-x commented on #72
Actually, i used `/[\p{Lower}|_]*/`.

_Yay, you use groovy too :smile: !_

[2016-08-20 10:50] shartte commented on #70
I am drafting a PR to investigate how a more explicit registration could look like. Should be done within the day.

[2016-08-20 10:55] Elix-x commented on #70
What do you mean?

[2016-08-20 11:01] shartte commented on #70
_edit_: I also want to consolidate the various base class hacks we currently use to register additional stuff during bootstrapping, like the ItemColor/BlockColor/MeshDefinition stuff. That can all be specified elsewhere.

[2016-08-20 11:05] Elix-x commented on #70
We decided not to do that.

[2016-08-20 11:09] shartte commented on #70
Where?

[2016-08-20 11:37] shartte commented on #70
That's not a decision.

[2016-08-20 11:49] Elix-x commented on #70
Well, you can try. We will see how this will turn out.

[2016-08-20 12:15] yueh commented on #70
Being more explicit instead of implictly using the classname is not that bad.
But there are some problems with the responsibility. The id is clearly not belonging to an item/block. Otherwise the registry would simply take a specifc interface to determine the id and not pass id + object as separate paramerters. Further it means blocks and items would suddenly have to know about the registries, also

[2016-08-20 12:17] shartte commented on #70
@yueh I'll make a proposal and yeah, I am not setting the id within the item/block, I also noticed that doesn't make much sense :)

[2016-08-20 12:50] yueh commented on #70
Oh and just to throw it in. Using a `static` block is probably also a bad idea in general.
We have absolutely no idea about the loading order forge or another mod might enforce. So it can easily be in a half loaded state and missing the API to register features.

[2016-08-20 13:21] Elix-x commented on #70
And because we're starting to discuss more changes here, i recently threw in polls in original repo. ~60 people voted and results are following (the poll that was there before, 110 people, had very similar results actually):
- 65%/35% AE3/AE2
- 66%/34% Standart/Modular
- 80%/20% Semantec/Current
- 82%/18% Java8/Java7

So, following these, we can tell that people split almost equally, but would kin

[2016-08-20 13:33] shartte commented on #70
Regarding AE3 vs. AE2: The goal is to first release a version that feature-wise is more or less equivalent to 1.7, right? Even if we rewrite all the internals, a user won't be able to tell the difference I think. So for that version, AE2 still makes sense in my mind.

[2016-08-20 13:36] Elix-x commented on #70
We already decided that (not here), we keep AE2 till we start working on new features.

[2016-08-20 20:51] shartte commented on #70
Hrm, I am struggling with lambdas and @SideOnly. Sadly I run into sided-issues when running it on the dedicated server.

Initially I wanted to do this in the ApiBlocks class for example:

[code]

That won't work ofcourse, since SkyChestTESR is `@SideOnly(CLIENT)`, and that crashes the server.
In my second attempt I tried moving all initialization code into a client-only callback:

[code]

This act

[2016-08-20 21:22] yueh commented on #70
I would not even bet `@SideOnly` working with lambdas at all. That thing is utterly broken.

Also do not forget the server/client proxy.

[2016-08-20 21:27] shartte commented on #70
Yeah it doesn't, you can't place annotations lambdas anyway.

I'll checked out the @SidedProxy, but i think it only works on static fields :|

Well, to be honest it might not be a terrible fix to separate out the rendering customization setup into a class for each block. There are only a handful of those and they can be placed closer to the blocks.

[2016-08-20 21:52] yueh commented on #70
It should be possible to annotate lambds with java8. Just `@SideOnly` is only designed with java 1.4 or even earlier in mind.

`@SidedProxy` only exists once. It gets instantiated by forge depending on the side.
So you can have a `CommonProxy.init()`, and let both implement it. Let the client extend server and let it additionally register the rendering part. I am not even sure, if forge wants the

[2016-08-20 22:02] shartte commented on #70
@yueh Yeah this code doesn't actually register the TESR right away, it builds a "bootstrap declaration" that then gets split up into the necessary phase initializations.
I just want to have all init code in one place so its easy to get an overview.

Regarding @SideOnly: You can't annotate the lambda itself, and if you annotate the functional interface, the annotation is not applied to the syntheti

[2016-08-20 22:15] yueh commented on #70
Yeah, I understand the idea behind the builder. Something like `initGrindStone() { return super.rendering( r-> r.tesr( new SkyChestTESR())).build() }` would be nice. But I currently do not see a nice way for it. That is really something where scala would be an advantage.

I currently have not idea to how lambdas are transformed at bytecode. Probably something of `java.util.function` and as these a

[2016-08-20 22:24] shartte commented on #70
The compiler actually has a complex rule set that governs how the transformation works. It also depends on what's in the lambda and whether it's a method reference or not.
In case of the () -> new ... it gets transformed into a standard method in the outer class. And that method ofcourse has the TESR as its return type, which leads to these problems.
The anonymous inner class works as a replacemen

[2016-08-20 22:39] yueh commented on #70
Should be ok. It would also fit when packaging by feature and placing everything related to skychest into the same package.

With scala it would just be `class ClientRegistry with TesrRegistry with TileRegistry with BlockRegistry with ItemRegistry` and `class ServerRegistry with TileRegistry with BlockRegistry with ItemRegistry`.
Java really misses the advanced features. And the new lambdas, exten

[2016-08-21 08:38] Elix-x commented on #70
Branched off [`1.10.2-rv3-restructuring`](https://github.com/AEModernMCPort/Applied-Energistics-2/tree/1.10.2-rv3-restructuring) specificaly for this.

[2016-08-21 19:55] shartte opened #76 "Sky Chest has no particle texture"
Apparently a blockstate file is still required even if a TESR is used, because otherwise the tile entity has no particle texture when being destroyed.

See here:
![Missing Particles](https://i.imgur.com/OkfPX0s.jpg)

[2016-08-21 19:56] shartte opened #77 "Security Station has no Lights"
The security station should have lights on top that toggle off/on depending on its power state.
They should also be colored according to the security station's AE network color.

Currently it looks like this:
![Security Station](https://i.imgur.com/0UfRmWB.jpg)

[2016-08-21 19:59] Elix-x commented on #76
Yes, known. But there are workarounds.

[2016-08-21 19:59] Elix-x commented on #76
@JosephRymer can you look into that?

[2016-08-21 20:01] Elix-x commented on #77
@JosephRymer @dpeter99 one fo 2, look into that (please).

[2016-08-21 20:11] shartte commented on #76
@elix-x I made a JSON based model for the item version.
But for the particles, I only think you need a blockstate and an otherwise empty model that has the particle texture. It's fine in my opinion.

[2016-08-21 20:14] shartte commented on #77
I've started on this here: https://github.com/shartte/Applied-Energistics-2/commit/ca4dfcf7c41c20a638d7573a7f4a9bf34c9b109e

[2016-08-21 20:20] Elix-x commented on #70
@yueh why does AE has pack.mcmeta? Forge generates default override anyways.

[2016-08-21 20:23] shartte opened #78 "Missing Particle Textures"
I checked everything that has a working texture in the creative tab for their break-particles and the following don't have the particle texture:

- Tiny TNT
- Quartz Fixture
- Inscriber
- Wireless Access Point
- Charger

[2016-08-21 20:23] yueh commented on #70
No idea, probably because forge did not always generate it or similar.

[2016-08-21 20:24] shartte commented on #70
Should I kill it?

[2016-08-21 20:26] Elix-x commented on #70
@shartte I will (does not belong to registry refactor, can be done on main branch without damage).

[2016-08-21 20:29] shartte opened #79 "Implement a JEI integration"
This should be tagged as a feature.

We should include a JEI integration that would provide the usual things a player expects:
- Show recipes made in AE machines (charger, grindstone, etc.)
- Possible describe how singularities are made
- Matter Condenser
- Oregen (?)
- Presses (?)

JEI Homepage: https://github.com/mezz/JustEnoughItems

[2016-08-21 20:44] yueh commented on #79
Should be pretty easy compared to NEI including the recipe transfer.

It should also support most things we need already. Like being able to read/change the search field. I bugged mezz enough about them just in case.

[2016-08-21 20:46] DeadSix27 commented on #79
Does it support channel-usage display like AE2 did in **N**EI?

[2016-08-21 20:55] shartte commented on #79
That would be WAILA and not NEI (or JEI)

For search field integration we can take a look how EnderIO did it for it's inventory panel, so that should be easy to do

[2016-08-21 20:56] shartte opened #80 "Fluid Integration"
Probably self explanatory.

There's also One probe, but I am not 100% certain on how that works.

[2016-08-21 20:57] DeadSix27 commented on #79
Oh damn right, late at night :) I somehow mistook JEI for WAWLA (What are WE looking at) and it being the new thing as replacement for WaiLa but this is JEI over NEI heh.

[2016-08-21 20:57] yueh commented on #72
It should actually be `/[\p{Lower}|\p{Digit}|_]*\.json/` my sonarqube instance is also already complaining about it.

I could already run it against PRs and let it report. But it can get a bit noisy like [here](https://github.com/AppliedEnergistics/Applied-Energistics-2/pull/1927)

[2016-08-21 21:03] shartte commented on #72
I don't think only allowing .json is sufficient.

This was a quick first check. It should actually check a lot more (i.e. references).
Another check it could do is check [blockstate/models/textures] for their respective file types and report incorrect extensions.

[2016-08-21 21:10] yueh commented on #72
It is json specific. So it will also report invalid syntax, missing newline and such things.

[2016-08-21 21:12] shartte commented on #72
Ah okay.

[2016-08-21 21:52] DeadSix27 commented on #80
Offtopic, but thinking about ExtraCells2 atm, should I,you,we get in contact with the author? I always felt like that mod deserves to be standard in AE2. I would update it but despite knowing java I have no idea how Forge mods work :), however if he still actively develops it, getting in contact might be a good idea.

If needed ill move this to a own "thread" just need others opinion before I open

[2016-08-21 21:53] shartte commented on #80
I also thought about making something like extra cells standard. But our first and foremost priority should be to get AE2 back into business for 1.10.

Anything beyond that might be AE3 territority.

I am _right now_ looking at the source code for some AE2 addons to figure out how they made use of the API.

[2016-08-21 21:54] DeadSix27 commented on #80
Agreed, just wanted to get this mentioned since WAILA and JEI did get mentioned as well

[2016-08-21 22:30] shartte opened #81 "Replace use of Guava's Optional with Java 8 Optional"
This also has some benefits with regards to code:

[code]

These pseudo loops can be replaced with:

[code]

[2016-08-21 23:02] shartte opened #82 "All Recipes are Non-Functional"
Not much else to say, this is most likely due to heavily changed registry names.

[2016-08-21 23:35] shartte opened #83 "Cable Multipart Rendering is not Thread-Safe"
Chunks are rebuilt on a thread separate from the main thread.
Simply passing a reference to CableBusContainer to the IBakedModel via an unlisted property will lead to race conditions and other concurrency bugs, when the state of the cable bus container is updated concurrently with a chunk update.

[2016-08-22 05:50] dpeter99 opened #84 "Wrong item modell"
![2016-08-22_07 45 57](https://cloud.githubusercontent.com/assets/7725817/17844755/117e6122-683d-11e6-82a9-290aec593ade.png)

In the inventory both looks the same.

[2016-08-22 07:29] #78 closed

[2016-08-22 07:30] Elix-x commented on #79
After we finish porting existing features.

[2016-08-22 07:32] Elix-x commented on #80
After we finish porting existing features.

[2016-08-22 07:32] Elix-x commented on #80
Concerning extra cells, they will be in AE3.

[2016-08-22 07:45] Elix-x commented on #82
Will fix after structure changes.

[2016-08-22 07:46] shartte commented on #84
this should be fixed with the big refactoring PR in #75

[2016-08-22 07:48] shartte commented on #82
Yes, absolutly. I just try to take what @yueh said to heart and create an issue for everything I see along the way, so I can fix them later in a PR.

[2016-08-22 08:16] DeadSix27 commented on #80
Including the fluid/gas storage & different I/O for that, elix-x?

[2016-08-22 08:18] Elix-x commented on #80
Yep.

[2016-08-22 08:18] Elix-x commented on #80
Thaumcraft might be too.

[2016-08-22 08:19] shartte commented on #80
You are spamming my issues :[
(And Thaumcraft doesn't exist yet for 1.10)

[2016-08-22 08:22] Elix-x commented on #80
I know, but it will be there (maybe even before AE3).

_Muhahaha :smiling_imp:_

[2016-08-22 08:23] shartte commented on #83
This has to be confirmed a bit more. I was thinking about it some more and came the conclusion that it might currently be called from a thread, but the main thread might still wait for that thread to complete before it continues processing network packets.

It should still be investigated.

[2016-08-22 08:24] DeadSix27 commented on #80
Unfortunately it doesn't ye, but that doesn't mean it won't ever (hopefully), anyway I'm here for help, if there is anything feel free to command me around :P However I might be more of a burdun considering the only **Minecraft-java** related thing I ever worked a lot on is Bukkit plugins.

[2016-08-22 08:43] yueh commented on #83
It will be an issue (it was already one in 1.8 port).

But the rendering is a bit more complex. It is not always multithreaded. Nearby chunks are handle by the main thread and only farther away chunks are handed of to the multithreaded rendering.

It is also possible to even defer the model backing. Chisels & Bits has a multi threaded model baker, which is able to bake the model and replace it aft

[2016-08-22 08:46] shartte opened #85 "Running on Cables Crashes the Game"
Extended block state is not passed to colorMultiplier if used in the context of dust or running particles.

[code]

[2016-08-22 08:50] dpeter99 commented on #85
Yes it does crash :)

[2016-08-22 08:52] Elix-x commented on #85
Will look into that & fix.

[2016-08-22 08:54] shartte commented on #85
Already working on a fix

[2016-08-22 08:57] Elix-x commented on #85
_Weren't you working on registries ;) ???_

[2016-08-22 08:57] shartte commented on #85
I am waiting for code review on that one

[2016-08-22 09:20] yueh commented on #80
Neither fluid, gas or anything other fits into AE2.

The current fluid support is also really clunky and inflexible. It should really be removed and replaced with a more generic approach. Every addon can already register new services to the grid and that is how the fluid integration should be handled. There should only be a way to register custom cells and let them join the correct services (not f

[2016-08-22 09:25] shartte commented on #80
My god this issue has derailed quickly.
Fluids is about the only thing that an AE3 could handle itself. Everything else is addon territory since it also requires other mods and definitely changes gameplay more than fluid storage would.
There are also things that are severly more important, i.e. better ingame documentation. There _are_ fluid P2P tunnels, but in my entire time playing with AE2, I've

[2016-08-22 09:26] shartte opened #86 "Waila/Wawla/OneProbe Integration"
Probably self explanatory.

There's also One probe, but I am not 100% certain on how that works.

[2016-08-22 09:29] Elix-x commented on #80
Well, we can handle fluids without fluid crafting. We can handle item crafting, because the way it works is told by MC and forge. There is fluid handling (transfer-storage) standart by forge, so we can do that. But because there's no fluid crafting standart, we should not touch it.

And yes i agree, what's about mod compatibility (in this way) should be better done with addons (aka _"More AE3 craf

[2016-08-22 09:34] shartte commented on #80
One thing for fluid crafting i could see is provide a Fluid Transposer Like placable object that can fill user-provided fluid containers with fluid from the network. Any crafting would still be based on the filled containers then.

[2016-08-22 09:37] DeadSix27 commented on #80
That's what I meant, storage. Current EC2 doesn't have crafting either and that is what I was on about. Just the plain transfer and storage. (Export/Import bus etc for fluids) Everything else is stuff to think about in the future anyway.

[2016-08-22 09:45] Elix-x commented on #80
There are plenty of "fluid transposers" by other mods already.

Also, just want to make sure, we are talking here of not implementing fluid _crafting_ and not fluid _processing_.

[2016-08-22 10:09] yueh commented on #80
There is no standard in forge really besides fluid transport.

But fluid crafting can mean so many things.
- (Vanilla) Replace the need of a bucket with 1000 mB of stored fluid
- (Modded) Replace the need of any fluid container with any arbitrary amount of fluid not related to the max capacity of the item (ex tank with 16 B, each crafting steps reduces it by 250 mB).
- Conjure a fluid container ou

[2016-08-22 12:12] Elix-x commented on #80
So, here's what we can do to handle fluids without hassle and lacking features:
1. Transfer & store fluid in the same way as items.
2. Add a fluid transposer to transpose fluids into containers and back (implemented in similar way to molecular assembler).
3. We do not support crafting with fluids directly, but fluids can be transposed into item.
4. A bit different UI & pattern for processing:
   1

[2016-08-22 12:22] Elix-x opened #87 "API exposure & loading order"
From #75...

<nbsp>

<nbsp>

<nbsp>

[2016-08-22 13:09] shartte commented on #70
Okay since #75 has been merged, the next thing would be to check all registry names and see if we are satisfied with what they are.
After we change any that we want to change, worlds should be safe from being destroyed, even if we decide to move every class around, heh.

I have a few smaller gripes with sky_stone in particular. I know the Wiki calls it "Sky Stone", but wouldn't "Skystone" (one wor

[2016-08-22 13:23] shartte commented on #70
# Suggested Name Changes

## Blocks

| Old Name | New Name |
| --- | --- |
| quartz | quartz_block |
| quartz_lamp | quartz_vibrant_glass |
| quartz_torch | quartz_fixture |
| fluix | fluix_block |
| sky_stone_block_stone | skystone_block |
| sky_stone_block_block | smooth_skystone |
| sky_stone_block_brick | skystone_brick |
| sky_stone_block_small_brick | skystone_small_brick |
| sky_chest_stone

[2016-08-22 13:26] yueh commented on #80
2 & 3 are basically what we have on the backlog should we ever add fluid directly.
But there are still issue with it. Currently the crafting system either needs an item to be actually existing, being craftable with existing items or have an infinite amout available over time (think cobble gen). With fluids these are just virtual items, if you just define `1 Bucket => 1 Bucket of X`, it cannot pred

[2016-08-22 13:35] Elix-x commented on #70
@shartte should still not make players confuse quartz and certus quartz.

[2016-08-22 13:36] shartte commented on #70
They always have to prefix it with appliedenergistics2:

Which reminds me, everyone in favor of changing the mod it to appeng2?

[2016-08-22 13:43] Elix-x commented on #80
Well,
- How are we going make player different switch between lava in bucket and lava in fluid form? Change fluid amount? A ton of complex keybindings is way worse than inputting it and is not a solution.
- And if you want 128 items? 2 stacks. And 65536?
- We always can shapshot itemstack, so when user puts itemstack, we snapshot count and auto input it in count field.
- Options for advanced users

[2016-08-22 13:51] yueh commented on #70
Seems mostly reasoanble.

The polished one is a bit strange. The texture fits pretty reasonable with the polished stone blocks. But the process to obtain them is smelting. So not really polishing. But that is nitpicking.

`security` should really be `security_station`. `Terminal` is a term used for parts attachable to cables and providing a GUI. So it does not really fit for a block. Furthermore m

[2016-08-22 13:58] Elix-x commented on #70
I'm fine if we keep it as `certus` instead (of `quartz` or `certus quartz`).

[2016-08-22 14:02] yueh commented on #80
That is the hard part. Creating a simple UI is pretty much the hardest part in UI design.
Just showing the user hundreds of buttons and input is easy.

64 is the maximum. It also needs to be balanced with co procs. Otherwise they would be useless, if you can define 1000000 cobblestone => 1000000 stone.

Crafting itself is already limited to 1 item per stack.

And for processing, show me a machine,

[2016-08-22 14:13] Elix-x commented on #80
64 items - ok. But what's max stack size for fluids? Also, rare fluids like molten octuple diamons will be needed in mb precision, while water may be required in large quantities.

What we can do then is leave the current GUI and add a tab for advanced configuration GUI for advanced users.
Another option is to leave current gui, when left clicked on slot with empty mouse, below the grid, display c

[2016-08-22 14:56] yueh commented on #80
That is the reason why there is no fluid crafting. Because it is just ridiculous. It scales from 8 mB to many hundred B. With item crafting there are at least the usual versions for nugget, ingot or block or compressed blocks. So you do not have to define 81 nuggets when 1 block is enough. Or instead of 43046721 cobble => 1 octuple compressed, it is just 7 patterns with 9 items each. It might take

[2016-08-22 15:16] shartte commented on #70
@yueh Well currently it's `appliedenergistics2:`. Would just `appeng:` be fine too?

[2016-08-22 15:18] Elix-x commented on #80
First, users aren't stupid, they can read, look and think after all (if they are stupid, i don't have anything to say). Interface should be intuitive, yes. But what's intuitive for one user isn't for another. Whatever we do with `thing` (tab, button, switch), we will satisfy 1 user and dissatisfy one that previously was. Intuitivity should be looked for, but not at cost of functionality in any way

[2016-08-22 15:21] yueh commented on #70
Is it? I never really looked at that part :wink:

I asssumed it was `appeng` based on the discussion here. But then no idea. Is there tab completion for mod ids?

[2016-08-22 15:22] Elix-x commented on #70
Yep and yep.

[2016-08-22 15:23] shartte commented on #70
There is, yes. But it's kinda tedious to always type appliedenergistics2: in all model/texture references, hehe.

@elix-x Are you _REALLY_ sure that we can't do ae2 as the mod-id? I don't see anything in Forge that would enforce 4 characters or more.

[2016-08-22 15:24] shartte commented on #70
I also amended the comment above with the name suggestions.
Instead of polished_skystone, I went with smooth_skystone. Is that better, yueh?

Regarding certus_quartz vs. quartz: If we go with certus_quartz_block, we should be consistent in our other uses of quartz. I think quartz is fine if we go with nether_quartz for the vanilla quartz tools (which we already do).

[2016-08-22 15:29] Elix-x commented on #70
Srsly? ctrl+c ctrl+v?

There's nothing that explicitly enforces it. It is a bug that forge decided to not fix.

[2016-08-22 15:31] shartte commented on #70
mcp uses the mod-id `mcp`....
Could you elaborate and link the issue?

_edit_ Psi also uses a 3-letter modid.

[2016-08-22 15:39] yueh commented on #80
None of these mods deal with crafting. These are always item transport mods, which do not suddenly break because the insert different items into the same chest. Autocrafting not considering NBT or metadata will lead to dupes or break because the input suddenly the machine do not accept that wrong item etc.

And it requires to completely rewrite the current autocrafting and inventory system. None o

[2016-08-22 15:40] shartte commented on #80
So, why is this being discussed in this detail here?
This is so far beyond porting to Minecraft 1.10 that I think it doesn't really belong here anyway.

[2016-08-22 15:49] Elix-x commented on #70
MCP is hardcoded mod.

So they did fix it, huh.

[2016-08-22 15:57] Elix-x commented on #80
@yueh Let's go straight for vanilla forge example, shall we, or should i enumerate all modded ones?
**Buckets.** Fluid type - NBT (_in case you didn't know, now forge introduced universal buckets, who use nbt_).

@shartte why not?

[2016-08-22 15:57] shartte commented on #80
Oh go on if you like :P

[2016-08-22 15:59] shartte commented on #70
So I'd suggest going with `ae2` as the mod it. It's short, simple and to the point, and it's the acronym commonly used for the mod.

[2016-08-22 16:03] yueh commented on #80
Why do you want to ignore the NBT of a bucket? There is no reason to allow crafting gold blocks from buckets of water by ignoring the NBT data.

[2016-08-22 16:07] Elix-x commented on #80
@yueh
Ok, so that's where we do not want to ignore nbt.

Now, vanilla dispensers. Can be crafted even with bows with enchantments. User won't make a recipe for every enchanted bow he gets from skeleton farm, right?

@shartte also, that's something we started in original thread and never finished because it got too long.

[2016-08-22 16:24] yueh commented on #80
@elix-x That already works. OreDict ftw.

[2016-08-22 16:29] Elix-x commented on #80
Ok, crafting of IC2 machines with batteries / crystals works when crystals are charged. Energy - NBT.

[2016-08-22 16:44] StrayCargo commented on #77
@elix-x  @shartte im currently looking into the bug im having with the crafting storage and crating for the auto crafting thanks for looking into this

[2016-08-22 16:45] StrayCargo commented on #76
@elix-x  should be a simple change in the blockstate to fix this issue
heres the blockstate particle effect needed
**blockcrack**  Breaking blocks, sprinting, walking iron golems

[2016-08-22 16:52] yueh commented on #80
NBT is irrelevant here. IC2 explicitly requires the specific item and not an oredict one. So we do not know what are possible replacements.

What you request is essentially an option the player can toggle to dupe. Why charge that energy crystal like the recipe requires, when you can use an empty one? And oh, there is a recipe to remove the crystal from the item and keeping its energy. So why not j

[2016-08-22 16:58] Elix-x commented on #80
Ok, let's go another way: how can ignoring/matching NBT/meta/oredict lead to dupes?
If it's because their machine does not know how to handle item A, while it accepted it, it's their problem and never ours.

Also, i'm starting to suspect that AE does not have rejection handling.

[2016-08-22 18:03] yueh commented on #80
OreDict is the only one not causing dupes.
NBT and metadata are completely undefined values.

**Example 1:** Mod A uses metadata to store the damage value
If every mod would behave like this, it would be totally fine to ignore the metadata. (But there are few other limitations towards crafting calculation later on)

**Example 2:** Mod B uses metadata to distinguish nuggets, ingots and blocks of th

[2016-08-22 18:10] Elix-x commented on #80
Alright, the dupe ignore issue are in **crafting** (_and i was aware of these_). I was talking about **processing**. See the difference? Second one is using outside machinery. I'm TOTALY fine not having nbt & meta precision in crafting, but they must be there for processing.

[2016-08-22 18:46] yueh commented on #80
The same pretty much applies to processing patterns. The only difference is that crafting pattern push the valid crafting inventory to the assembler for valid item in slot checks. But otherwise it still needs the same requirements. If the recipe defines it needs a 30% charged battery and returns a 0% charged battery, the crafting simulation cannot validate that a 1% charged battery is actually the

[2016-08-22 18:57] Elix-x commented on #80
Well, i think with processing it's full user's (and machine's mod authors *cough* *cough*) responsibility. AE in this case should just dump what it's told into machine if it can and take the results. If the machine does not like what we dump into it and rejects it, system stalls (jk, but there should be an error report of some kind). If it didn't get what it wanted to, stall system again (or wait

[2016-08-22 19:08] yueh commented on #80
If someone can actually provide some uses cases, where it is clearly not possible with any other alternative and suddenly hundreds of players are reporting it as issue, then I clearly have nothing against it.

But I do not see any reason for it now. It just adds complexity without much benefit for us as well as the players. It clearly will make it easier to create bugs with and it will talk much t

[2016-08-22 19:48] Elix-x commented on #80
That explains many things.
But should we still follow it?
Unclear, because probably all modded mc players already know shallow stuff (nbt & meta), play with `F3+H` on, and there's no standart way for mods to use one or another.

Meanwhile AE tries to be perfect (ly stable, ly working, ly compatible...) with the 3rd one...

---

Back to fluids, so how are we going to make **processing** pattern GUI

[2016-08-22 20:11] yueh commented on #80
I personally consider it a pretty poor design choice.
Most players know not really the what is it. Or even the difference between meta data and damage. They use it basically as synonym while it is something completely different.
Also some future minecraft version might completely replace metadata (probably in the near future) or even NBT data. What will they then expose? A full regex matcher so pl

[2016-08-22 20:17] Elix-x commented on #80
Well, because each mod uses different thing, it comes down to trial and error for everybody.
Do DR crystals use meta? Test - no.
NBT? Test - yes.

Yes, sure. Just still AE must have a way to handle invlaid outputs / no outputs and "throw" error into user's face (not really).

And custom machines? Good example: vat from EIO.

Yes, it should be rewritten. And generalized so it does not work only for

[2016-08-22 20:22] yueh commented on #80
There is always the storage bus + level monitors + buses.

It is generalized for fluids and items. But they are so different that they do not fit really well.

[2016-08-22 21:31] shartte commented on #76
The sky chest currently dosent have a blockstate because of the TESR, but it needs one for the particles, yes.

[2016-08-23 04:51] StrayCargo commented on #76
ok so what exactly is TESR doing that causing to not put the right one in

[2016-08-23 07:03] Elix-x commented on #80
I was speaking about processing pattern.

They are different, but they still have many things in common:
- Both have a type (apple, stone, lava, fluitin)
- Both have amount (32, 2000mb)
- Both have NBT.
  Items simply have metadata on top of that.

[2016-08-23 07:04] Elix-x commented on #76
The question is what TESR is **not** doing.

[2016-08-23 07:45] shartte commented on #76
The TESR is not involved in any of this. The block still needs a blockstate file with a model that has a particle texture. You can use a forge block state and just override the texture for block/block if you like. The model is never rendered, it just uses its particle texture.

[2016-08-23 08:13] dpeter99 opened #88 "Not all item names are rigth"
There are a few items with incorrect names like `Cell64kPart` which should be `cell_64_part` or `cell_64k_part`

[2016-08-23 08:15] shartte commented on #88
Working on it in the restructuring branch

[2016-08-23 13:04] yueh commented on #81
It is not that straightforward actually. But there are some interesting snippets like

[code]

but still sucks compared to scala with something like

[code]

and it also sucks that java has no tuples.

Also there are few cases, where it is really subpar compared to guavas one. But these are pretty much code smell (abusing a pseudo for to early return from a method).

It is something to have everyt

[2016-08-23 14:50] shartte commented on #81
Pass non-final variables to what? I don't follow what you mean

[2016-08-23 14:53] yueh commented on #81
This is not possible as long as `foo` is not final.

[code]

[2016-08-23 14:54] shartte commented on #81
It actually should be.

Lambdas use the concept of implicitly final.

_edit_ unless you assign foo to sth else later in the function

[2016-08-23 15:14] yueh commented on #81
A good amount of the current usage of optionals us it to either reassign the variable within the lambda or later (like a for loop)

But yes, if  the compiler can defer that the variable is effectively final it can ignore it. But it still has the usual problem with implict stuff, you change it later and it breaks something completely else.

[2016-08-23 15:45] shartte commented on #81
It's always with regards to local variables though, so whatever you break is directly within your field of view and causes an immediate IDE red squiggle :)

[2016-08-23 16:40] Elix-x commented on #81
Unless your method is 1000 lines long :D ...

[2016-08-23 18:02] yueh commented on #80
Just because something has a name, it does not mean it is similar to other things with names.

ItemStacks have the id, metadata, damage and nbt as important data. Additionally the oredict to mark similar items.
They need a precise way to get exactly the requested item and a way to do a range query. All items regardless of the damage/nbt, all items between 0 and 25% damage and so on.
Also range que

[2016-08-23 18:16] Elix-x commented on #80
Actually, no. Modders can use NBT to specify fluid's properties, like they can with items. Example: deep resonance molten crystal (quality & other stuff is saved in nbt). And forge fluid registry also acts as fluid dictionary (so no more 10 oils from 10 mods).

[2016-08-23 18:37] yueh commented on #80
If a fluidstack has NBT or not is pointless. If both NBT tags are not equal it is not the same fluid. That is it.

The fluid registry absolutely does not act as fluid dictionary. The only case it prevents mods from registering "oil" multipe times. Which leads to what? Exactly, now you have to deal with "oil", "bc_oil", "pnc_oil", and 10 more prefixed "_oil" and that is already happening because so

[2016-08-23 18:43] Elix-x commented on #80
Not the same fluid _stack._
Item - Fluid.
Item stack - Fluid stack.

Just like some modders avoid using ore dictionary for their copper.

[2016-08-23 18:58] yueh commented on #80
We store fluid stacks not fluids. If `FluidStack.isFluidEqual()` says they are not equal, they are not equal.

[2016-08-23 19:37] Elix-x commented on #80
Well, same goes for item stacks. 2 item stacks with different NBTs are not the same. And we store item stacks.

[2016-08-23 19:47] yueh commented on #80
For exact matches yes. But items also have damage values and we have to query for every itemstack between 0% and 25% of the same type (same id + optionally same metadata). Or every item tagged by the oredict as being equal. There is nothing like a damage value or quality as shared attribute on every fluid stack. Or nothing like the oredict listing equal itemstacks/fluidstacks.

[2016-08-23 20:00] Elix-x commented on #80
Well, absence of meta + precise dictionary is the only difference between fluid stacks and item stacks.
So if we write system for fluid stacks, to make it support item stacks, we simply have to extend it and tell it about meta and precise dictionary.

[2016-08-23 20:27] yueh commented on #80
Quick question, would you consider this a good design

[code]

[2016-08-23 21:04] shartte commented on #70
Opened #91 for the modid, #90 for optional, and #89 for the registry name changes.
Once that is done, the only thing I think that remains is restructuring the packages.
@elix-x @yueh Can you take a look?

@elix-x What does it take to get push access btw?

[2016-08-23 21:57] yueh commented on #70
Regarding push access for the future. I am open for suggestion, but it was pretty useful how we handled it in the past.

Basically anything did go through PRs (with the exception of mass editing like formatting).
Yes it is more tedious and takes more time and there is no instant gratification for a dev.
But it has some advantages like the following ones
- Everything goes through the same process/p

[2016-08-23 22:16] shartte commented on #70
Oh I agree in general and especially for mature pojects. But during heavy code churn, I'd rather work with multiple people on one or multiple short-lived dev-branches in the main repo and do code reviews on the branches. You can do this with PRs, but it makes it harder to collaborate if there are big dependencies between the work of multiple people. In this particular case it would have been easie

[2016-08-23 22:59] StrayCargo commented on #76
@elix-x I agree with @shartte that is should be the standerd for all are blocks easier instead of making extra models we probably dont need to deal with right now

[2016-08-24 07:39] Elix-x commented on #70
We merge current PRs and you're in.

@yueh agree with @shartte on that. In this case, we're porting and working together without PRing is easier.

_(I often forget that you can leave comments and line notes on commits too now :(, just remembered about that)._

[2016-08-24 07:42] Elix-x commented on #80
While `Quadrat` does not override anything from parrent, no.
<sub><sup>_`Quadrat` <=> `Square`???_</sup></sub>

[2016-08-24 08:12] yueh commented on #80
I was more thinking about the print/typography (quad) and not math version. But if you want a more complete hierarchy and math terms.

[code]

But the question is really about the class hierarchy. Not whatever they implement or not.

[2016-08-24 08:22] Elix-x commented on #80
[code]

part - yes.

[code]

part - no (because in this case, rectangle can be made square without being a square).

[2016-08-24 08:28] yueh commented on #80
How it looks is completely irrelevant. It is a question about the behaviour of the thing a class resembles.

[2016-08-24 08:34] Elix-x commented on #80
I'll say it other way: separation of circle and rectanle - yes, separation of rectangle and square - no.

[2016-08-24 08:48] shartte commented on #80
Okay. I haven't looked at this issue in a while. How the hell did you get from fluid integration to basics of inheritance and polymorphism :P

[2016-08-24 09:33] yueh commented on #80
@shartte understanding of it is somewhat required

Not providing a square does not really solve or answer the problem, it just avoids it.

So how are rectangles, squares and let us add diamonds defined? (I avoid the part about defining them based in the diagonals)
- Shared
  - All are perpendicular quadrilaterals
- Rectangle
  - opposite sides must have the same length => 2 pairs of 2 equal long s

[2016-08-24 09:46] yueh commented on #70
Sure, that is entirely possible thanks to git. You want to easily collaborate for a feature?
Just team up and give each other push rights or make a new github team, whatever.

You could even push to each others local repo, if they are accessible 24/7 via ssh. Or even just send the commits as patch email to eachothers, if you want to keep it private but have no ssh access.

Once finished, just clea

[2016-08-24 11:57] Elix-x commented on #80
Ok. Now, back to original problem... To which one of original problems?

[2016-08-24 12:16] yueh commented on #80
Sticking fluids and items into the same thing. Which means you have a common supertype.

This means at someone can take a collection of itemstacks and use it as collection of stacks, which allows to put fluid and item stacks into the same collection, but it is not allowed to crash. Or anything else must be able to deal it. An export bus getting pushed a list with items and fluids? It needs to hand

[2016-08-24 19:49] shartte commented on #70
That really doesn't sound that collaborative (and like a pain in the butt).
I don't see how development on side-branches affects the blessed branches much. Doesn't GitHub even have protected branches by now? Or is that a Gitlab only feature?

[2016-08-24 20:36] Elix-x commented on #80
Alright, i quickly<sup>tm</sup> wrote storage & crafting structure. Tell me if it works (hint - it does).
https://gist.github.com/elix-x/64ed4b14ee3223b7f3dcfac2b9a49579

_PS: I used groovy to write it, in order to shorten code and test it easily. But it should be very easy to port it to pure java._

[2016-08-24 21:04] yueh commented on #80
It is pretty much what we already have, just without the important features, missing required data, being potentially too slow and being a memory hog. It even "uses" the same security to avoid someone from actually using at intended by the class hierarchy.

---

Edit.

We need at least the following
- AbstractCollection
  - merge stacks together,
    - no `setAmount()`, someone will mess it up and

[2016-08-25 07:14] Elix-x commented on #80
I did not optimise it or write in a way to be fast and performant. The goal was to show that's it's possible to use same class for fluid and item storage. This system also allows for flagging of elements (to ignore meta / nbt or use oredictionary).
Also, you should have noticed that network is running in separate thread, and that's what we eventually want to do.

Separating amount from actual data

[2016-08-25 09:09] yueh commented on #80
I know that it is possible, as it just how it is now. It is just that this one size fits all approach is really subpar.

What I listed are just the essential parts to rewrite it without any improvement or in other words a waste of time.

For real improvements we need at least the following features
- Being thread safe
  - That is more or less already the case due to having to use concurrent collec

[2016-08-25 10:23] Elix-x commented on #80
What i have there is partially thread safe. We can sync IO and net thread for saving (`terminate()`), but once dimensions will be multithreaded, IO and blocking will become extremely complex.

In what you said, there's one problem. No future expectation/calculation. If crafting operation tree is executed as one task, the operation will simply fail if some items are missing during launch. Even thou

[2016-08-25 11:05] yueh commented on #80
It is already using subtask for every step. It basically takes a snapshot of the current network inventory, hands it of to another thread which calculates the required items. The inventory is used to shortcut calculations, if a material is already present no need to calculate every of the 8192 potentially paths it can be crafted. If this succeeds it hands of the tree to a crafting cpu to be execut

[2016-08-25 11:06] shartte commented on #70
@elix-x @yueh I closed the modid PR, so I think we should look into merging the restructuring branch back into the main branch of this repo. Moving packages around can be done along the way since it will break neither assets nor saves.
If possible, I'd like to apply for push access to this repo's rendering/main branch, elix-x to speed things up. My plan would be to make a full pass over all conten

[2016-08-25 11:20] Elix-x commented on #80
Beacause containers (because server is the one who is responsible for logic and if we will use a GUI without container on server, it will open large door for hacks). Containers have slots and only visible slots are displayed on client? So why to send entire network to client, if it sees in gui only 27 items (or 69 if he uses large GUI)? Why wouldn't sending only 27 items player currently sees to c

[2016-08-25 11:38] yueh commented on #80
Because the server does not know which 27 items the client sees. And scrolling would scale with network latency.
Btw do you assume nothing existing in AE2, what makes it already work?

Read it again. I sounds harsh, but I really do not have time to repeat myself each time. If you did not understand something or I explained it poorly, please ask exactly what it was, because it makes it so much easi

[2016-08-25 11:51] Elix-x commented on #80
Well, thought nothing changed in container code, it does not work anymore.

<nbsp>

Support for them - maybe, but why, what for? Which tasks need them?

[2016-08-25 12:49] yueh commented on #80
Hm. Have not really followed this part. But essentially we need to port the old code, which had special AESlots for these cases. There is simply no way around it.

**Deltas**

Deltas would be mostly nice for bulk updates, which are currently not really possible but one of the performance issues. One issue is that we have to fully rebuild the caches with every single change (that is a minecraft pro

[2016-08-25 13:42] Elix-x commented on #80
Ok. Got it. Thought, there's a way around it: instead of constantly writing and reading to/from cells, we only write data when required (so cell is kept at state it was originally until it's saved, or somethign takes it out). This should drastically reduce access to world and save us from some multithreading issues.
One thing it won't work with is `alt+F4`, but if you do that in world even in vani

[2016-08-25 14:17] yueh commented on #80
No cells are fine, they are only serialized when need. The are pretty much the smallest issues as they pretty much work like a slot based inventory. The only thing we could optimize is throw away the current itemlist, because it has to be backed by a `NavigableMap`. But cells really just need an Array[63] or `HashSet` or maybe even a `IdentityHashMap` if we ensure that `ItemDefinition` are always